In [2]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [3]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc

In [8]:
%config SqlMagic.autocommit=False

In [9]:
%%sql 
COMMIT;
DROP DATABASE IF EXISTS airbnb_icmc WITH (FORCE);
COMMIT;
CREATE DATABASE airbnb_icmc
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
Done.
(psycopg2.errors.ObjectInUse) ERRO:  não é possível remover banco de dados que se encontra aberto

[SQL: DROP DATABASE IF EXISTS airbnb_icmc WITH (FORCE);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [4]:
%sql SELECT CURRENT_DATABASE();

 * postgresql://postgres:***@localhost/airbnb_icmc
1 rows affected.

[('airbnb_icmc',)]

In [5]:
%%sql

CREATE TYPE tipo_locacao AS ENUM {"quarto", "chave"}; 
CREATE TYPE tipo_sexo AS ENUM {"F", "M"};
CREATE TYPE tipo_camas AS ENUM {"solteiro", "casal", "beliche"};
CREATE TYPE tipo_conta AS ENUM {"corrente", "poupança", "pagamento"};
CREATE TYPE tipo_nota AS ENUM {'1', '2', '3', '4', '5'};
CREATE TYPE tipo_emissor AS ENUM {"Locatario", "Anfitriao"};

 * postgresql://postgres:***@localhost/airbnb_icmc
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [13]:
%%sql

CREATE TABLE IF NOT EXISTS Anfitriao(
  nome             VARCHAR(70),
  sobrenome        VARCHAR(70),
  num_tel          VARCHAR(11),
  endereco         VARCHAR(100),
  dt_nascimento    DATE,
  sexo             tipo_sexo,
  email            VARCHAR(50) UNIQUE NOT NULL,
  senha            VARCHAR(40) NOT NULL,
  PRIMARY KEY (nome, sobrenome, num_tel)
);

CREATE TABLE IF NOT EXISTS Locatario(
  nome             VARCHAR(70),
  sobrenome        VARCHAR(70),
  num_tel          VARCHAR(11),
  endereco         VARCHAR(100),
  dt_nascimento    DATE,
  sexo             tipo_sexo,
  email            VARCHAR(50) UNIQUE NOT NULL,
  senha            VARCHAR(40) NOT NULL,
  PRIMARY KEY (nome, sobrenome, num_tel)
);

CREATE TABLE IF NOT EXISTS Propriedade(
  nome             VARCHAR(70),
  endereco         VARCHAR(100),
  nome_anf         VARCHAR(70),
  sobrenome_anf    VARCHAR(70),
  num_tel_anf      VARCHAR(11),
  num_quartos      INTEGER NOT NULL,
  num_banheiros    INTEGER NOT NULL,
  tipo_hospedagem  tipo_locacao NOT NULL,
  preco_noite      DECIMAL(2) NOT NULL,
  num_max_hosp     INTEGER NOT NULL,
  num_min_noite    INTEGER NOT NULL,
  taxa_limpeza      DECIMAL(2),
  horario_check_in  TIME,
  horario_check_out TIME,
  PRIMARY KEY (nome, endereco),
  FOREIGN KEY (nome_anf, sobrenome_anf, num_tel_anf) REFERENCES Anfitriao (nome, sobrenome, num_tel)
);

 * postgresql://postgres:***@localhost/airbnb_icmc
Done.
Done.
Done.

[]

In [22]:
%%sql

CREATE TABLE IF NOT EXISTS Quarto(
  num_quarto        INTEGER,
  nome_prop         VARCHAR(70),
  endereco_prop     VARCHAR(100),
  num_de_camas      INTEGER NOT NULL, 
  tipo_de_camas     tipo_camas NOT NULL,
  PRIMARY KEY (num_quarto, nome_prop, endereco_prop),
  FOREIGN KEY (nome_prop, endereco_prop) REFERENCES Propriedade (nome, endereco)
);

CREATE TABLE IF NOT EXISTS Conta_bancaria(
  num_conta         VARCHAR(15),
  nome_anf          VARCHAR(70),
  sobrenome_anf     VARCHAR(70),
  num_tel_anf       VARCHAR(11),
  num_roteamento    VARCHAR(50) NOT NULL,
  tipo_conta        tipo_conta NOT NULL,
  PRIMARY KEY (num_conta, nome_anf, sobrenome_anf, num_tel_anf),
  FOREIGN KEY (nome_anf, sobrenome_anf, num_tel_anf) REFERENCES Anfitriao (nome, sobrenome, num_tel)
);

CREATE TABLE IF NOT EXISTS Avaliar(
  nome_locatario         VARCHAR(70),
  sobrenome_locatario    VARCHAR(70),
  num_tel_locatario      VARCHAR(11),
  nome_prop              VARCHAR(70),
  endereco_prop          VARCHAR(100),
  mensagem               VARCHAR(400),
  nota_limpeza           tipo_nota NOT NULL,
  nota_comunicacao       tipo_nota NOT NULL,
  nota_localizacao       tipo_nota NOT NULL,
  nota_valor             tipo_nota NOT NULL,
  PRIMARY KEY (nome_locatario, sobrenome_locatario, num_tel_locatario, nome_prop, endereco_prop),
  FOREIGN KEY (nome_locatario, sobrenome_locatario, num_tel_locatario) REFERENCES Locatario (nome, sobrenome, num_tel),
  FOREIGN KEY (nome_prop, endereco_prop) REFERENCES Propriedade (nome, endereco)
);

CREATE TABLE IF NOT EXISTS Conversar(
  nome_locatario         VARCHAR(70),
  sobrenome_locatario    VARCHAR(70),
  num_tel_locatario      VARCHAR(11),
  nome_anf               VARCHAR(70),
  sobrenome_anf          VARCHAR(70),
  num_tel_anf            VARCHAR(11),
  emissor                tipo_emissor NOT NULL,
  horario_mensagem       TIME NOT NULL,
  mensagem               VARCHAR(500) NOT NULL,
  PRIMARY KEY (nome_locatario, sobrenome_locatario, num_tel_locatario, nome_anf, sobrenome_anf, num_tel_anf),
  FOREIGN KEY (nome_locatario, sobrenome_locatario, num_tel_locatario) REFERENCES Locatario (nome, sobrenome, num_tel),
  FOREIGN KEY (nome_anf, sobrenome_anf, num_tel_anf) REFERENCES Anfitriao (nome, sobrenome, num_tel)
);

CREATE TABLE IF NOT EXISTS Reservar(
  nome_prop              VARCHAR(70),
  endereco_prop          VARCHAR(100),
  nome_locatario         VARCHAR(70),
  sobrenome_locatario    VARCHAR(70),
  num_tel_locatario      VARCHAR(11),
  data_check_in          DATE,
  data_reserva           DATE,
  PRIMARY KEY (nome_prop, endereco_prop, nome_locatario, sobrenome_locatario, num_tel_locatario, data_check_in),
  FOREIGN KEY (nome_prop, endereco_prop) REFERENCES Propriedade (nome, endereco),
  FOREIGN KEY (nome_locatario, sobrenome_locatario, num_tel_locatario) REFERENCES Locatario (nome, sobrenome, num_tel)
);

 * postgresql://postgres:***@localhost/airbnb_icmc
Done.
Done.
Done.
Done.
Done.

[]

In [23]:
%sql SELECT * FROM Anfitriao;

 * postgresql://postgres:***@localhost/airbnb_icmc
0 rows affected.

[]

In [25]:
%%sql
INSERT INTO Anfitriao VALUES ('João', 'Silva', '12345678901', 'Rua das Flores, 123', '1990-05-15', 'M', 'joao@example.com', 'senha123');

INSERT INTO Anfitriao VALUES ('Maria', 'Santos', '98765432101', 'Avenida Principal, 456', '1985-09-20', 'F', 'maria@example.com', 'senha456');

 * postgresql://postgres:***@localhost/airbnb_icmc
1 rows affected.
1 rows affected.

[]

In [26]:
%sql SELECT * FROM Anfitriao;

 * postgresql://postgres:***@localhost/airbnb_icmc
2 rows affected.

[('João', 'Silva', '12345678901', 'Rua das Flores, 123', datetime.date(1990, 5, 15), 'M', 'joao@example.com', 'senha123'),
 ('Maria', 'Santos', '98765432101', 'Avenida Principal, 456', datetime.date(1985, 9, 20), 'F', 'maria@example.com', 'senha456')]