In [1]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [3]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/postgres')
%sql postgresql://postgres:pgadmin@localhost/postgres

In [4]:
%config SqlMagic.autocommit=False

In [77]:
%%sql 
COMMIT;
DROP DATABASE IF EXISTS airbnb_icmc WITH (FORCE);
COMMIT;
CREATE DATABASE airbnb_icmc
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

   postgresql://postgres:***@localhost/airbnb_icmc
 * postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.
Done.

[]

In [5]:
%config SqlMagic.autocommit=True

In [6]:
engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc

In [7]:
%sql SELECT CURRENT_DATABASE();

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
1 rows affected.

[('airbnb_icmc',)]

In [21]:
%%sql
DROP TABLE IF EXISTS Usuario, Propriedade, Conta_bancaria, Avaliar, Conversar, Reservar, Localizacao, Locacao, Quarto, Anfitriao, Locatario CASCADE;

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
Done.

[]

In [18]:
%%sql 
DROP TYPE IF EXISTS tipo_locacao, tipo_sexo, tipo_quarto, tipo_camas, tipo_conta, tipo_nota, tipo_usuario CASCADE;

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
Done.

[]

In [19]:
%%sql

CREATE TYPE tipo_locacao AS ENUM {"quarto", "propriedade"}; 
CREATE TYPE tipo_sexo AS ENUM {"F", "M"};
CREATE TYPE tipo_quarto AS ENUM {"solteiro", "casal", "beliche"};
CREATE TYPE tipo_conta AS ENUM {"corrente", "poupança"};
CREATE TYPE tipo_nota AS ENUM {'1', '2', '3', '4', '5'};
CREATE TYPE tipo_usuario AS ENUM {"locatário", "proprietário", "locatário e proprietário"};

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [22]:
%%sql

CREATE TABLE Localizacao(
  cidade         VARCHAR(40),
  estado         VARCHAR(20),
  pais           VARCHAR(30),
  PRIMARY KEY (cidade, estado, pais)
);

CREATE TABLE Usuario(
  id               INTEGER,
  nome             VARCHAR(70) NOT NULL,
  sobrenome        VARCHAR(70) NOT NULL,
  num_tel          VARCHAR(11) NOT NULL,
  tipo             tipo_usuario NOT NULL,
  rua              VARCHAR(50) NOT NULL,
  numero           INTEGER NOT NULL,
  complemento      VARCHAR(40),
  cidade           VARCHAR(40),
  estado           VARCHAR(20),
  pais             VARCHAR(30),
  bairro           VARCHAR(50),
  dt_nascimento    DATE NOT NULL,
  sexo             tipo_sexo NOT NULL,
  email            VARCHAR(50) UNIQUE NOT NULL,
  senha            VARCHAR(40) NOT NULL,
  PRIMARY KEY (id),
  CONSTRAINT Usuario_CK1 UNIQUE (nome, sobrenome, num_tel),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais)
);

CREATE TABLE Propriedade(
  id               INTEGER,
  nome             VARCHAR(70) NOT NULL,
  rua              VARCHAR(50) NOT NULL,
  numero           INTEGER NOT NULL,
  complemento      VARCHAR(40),
  cidade           VARCHAR(40),
  estado           VARCHAR(20),
  pais             VARCHAR(30),
  bairro           VARCHAR(50),
  id_dono          INTEGER,
  num_quartos      INTEGER NOT NULL,
  tipo_quarto      tipo_quarto NOT NULL,
  num_camas        INTEGER,
  num_banheiros    INTEGER NOT NULL,
  tipo_hospedagem  tipo_locacao NOT NULL,
  preco_noite      DECIMAL(6,2) NOT NULL,
  num_max_hosp     INTEGER NOT NULL,
  num_min_noites   INTEGER NOT NULL,
  num_max_noites   INTEGER NOT NULL,
  taxa_limpeza     DECIMAL(6,2),
  horario_check_in  TIME,
  horario_check_out TIME,
  PRIMARY KEY (id),
  CONSTRAINT Propriedade_CK1 UNIQUE (nome, rua, numero),
  FOREIGN KEY (id_dono) REFERENCES Usuario (id),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais)
);

CREATE TABLE Locacao(
  id                  INTEGER,
  data_check_in       DATE NOT NULL,
  data_check_out      DATE NOT NULL,
  num_hospedes        INTEGER NOT NULL,
  valor               DECIMAL(6,2) NOT NULL,
  taxa_limpeza        DECIMAL(6,2),
  imposto             DECIMAL(2,2),
  codigo_promocao     VARCHAR(50), 
  desconto            DECIMAL(2,2),
  valor_total         DECIMAL(6,2),
  PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.

[]

In [23]:
%%sql

CREATE TABLE Conta_bancaria(
  num_conta         VARCHAR(15),
  id_dono           INTEGER,
  num_roteamento    VARCHAR(50) NOT NULL,
  tipo_conta        tipo_conta NOT NULL,
  PRIMARY KEY (num_conta, id_dono),
  FOREIGN KEY (id_dono) REFERENCES Usuario (id)
);

CREATE TABLE Comodidade(
  nome              VARCHAR(70),
  id_propriedade    INTEGER,
  quantidade        INTEGER,
  PRIMARY KEY (nome, id_propriedade),
  FOREIGN KEY (id_propriedade) REFERENCES Propriedade (id)
);

CREATE TABLE Regra(
  nome              VARCHAR(70),
  id_propriedade    INTEGER,
  descricao         TEXT,
  PRIMARY KEY (nome, id_propriedade),
  FOREIGN KEY (id_propriedade) REFERENCES Propriedade (id)
);

CREATE TABLE Pontos_interesse(
  nome                  VARCHAR(70),
  cidade                VARCHAR(40),
  estado                VARCHAR(20),
  pais                  VARCHAR(30),
  preco                 DECIMAL(6,2),
  horario_funcionamento TIME,
  PRIMARY KEY (nome, cidade, estado, pais),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais)
);

CREATE TABLE Avaliar(
  id_locatario           INTEGER,
  id_prop                INTEGER,
  mensagem               TEXT,
  hora_mensagem          TIME,
  nota_limpeza           tipo_nota NOT NULL,
  nota_comunicacao       tipo_nota NOT NULL,
  nota_localizacao       tipo_nota NOT NULL,
  nota_valor             tipo_nota NOT NULL,
  PRIMARY KEY (id_locatario, id_prop),
  FOREIGN KEY (id_locatario) REFERENCES Usuario (id),
  FOREIGN KEY (id_prop) REFERENCES Propriedade (id)
);

CREATE TABLE Reservar(
  id_locatario           INTEGER,
  id_prop                INTEGER,
  id_locacao             INTEGER,
  data_reserva           DATE,
  confirmacao            BOOLEAN DEFAULT FALSE,
  PRIMARY KEY (id_locatario, id_prop, id_locacao),
  FOREIGN KEY (id_locatario) REFERENCES Usuario (id),
  FOREIGN KEY (id_prop) REFERENCES Propriedade (id),
  FOREIGN KEY (id_locacao) REFERENCES Locacao (id)
);

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.
Done.
Done.

[]

# Carregamento de Dados

In [111]:
%%sql
INSERT INTO Usuario (nome, sobrenome, num_tel, tipo, rua, numero, complemento, cidade, estado, pais, bairro, dt_nascimento, sexo, email, senha) VALUES
('Victor Hugo', 'Amaral', '982471270', 'locatário e proprietário', 'Avenida João Stella', 300, 'Apto 404', 'São Carlos', 'São Paulo', 'Brasil', NULL, '2002-01-12', 'M', 'amaral.vh@gmail.com', 'senhaAmaral'),
('João', 'Buzzo', '982476812', 'locatário e proprietário', 'Rua Francisco Correa Bueno', 330, NULL, 'Hannover', 'Baixa Saxônia', 'Alemanha', NULL, '1999-06-22', 'M', 'buzzo.j@gmail.com', 'senhaBuzzo'),
('Leonardo', 'Ishida', '977819826', 'proprietário', 'Rua A', 271, 'Apto 100', 'Americana', 'Hokkaido', 'Japão', NULL, '2002-07-20', 'M', 'leo.ishida@gmail.com', 'senhaLeozim'),
('Isaac', 'Rosendo', '982471279', 'proprietário', 'Avenida Paulista', 12, 'Apto 90', 'São Paulo', 'São Paulo', 'Brasil', 'Luz', '2004-12-11', 'M', 'isaac.rosendo@gmail.com', 'senhaIsaac'),
('Rafael', 'Conrado', '982061270', 'locatário', 'Avenida Trabalhador São Carlense', 152, NULL, 'São Carlos', 'São Paulo', 'Brasil', 'Cidade Jardim', '2002-01-12', 'M', 'amaral.vh@gmail.com', 'senhaAmaral'),

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
12 rows affected.

[]

In [129]:
%%sql
SELECT * FROM Usuario;

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
0 rows affected.

[]

In [113]:
%%sql
INSERT INTO Propriedade (nome, rua, numero, complemento, nome_usr, sobrenome_usr, num_tel_usr, num_quartos, num_banheiros, tipo_hospedagem, preco_noite, num_max_hosp, num_min_noites, num_max_noites, taxa_limpeza, horario_check_in, horario_check_out) VALUES
('Casa da Praia', 'Rua A', 100, 'Frente ao mar', 'Maria', 'Santos', '98765432109', 3, 2, 'propriedade', 200.00, 6, 2, 15, 50.00, '14:00', '10:00'),
('Chalé da Montanha', 'Rua B', 200, NULL, 'Pedro', 'Ferreira', '97788899900', 2, 1, 'propriedade', 150.00, 4, 1, 7, 30.00, '15:00', '11:00'),
('Apartamento do Centro', 'Rua C', 300, 'Apto 501', 'Lucas', 'Rocha', '93333333333', 1, 1, 'propriedade', 120.00, 2, 1, 10, NULL, '12:00', '10:00'),
('Casa de Campo', 'Rua D', 400, NULL, 'Ana', 'Pereira', '91122233344', 4, 3, 'propriedade', 250.00, 8, 2, 14, 60.00, '13:00', '11:00'),
('Sítio Feliz', 'Rua E', 500, NULL, 'Pedro', 'Ferreira', '97788899900', 5, 4, 'propriedade', 300.00, 10, 2, 21, 80.00, '14:00', '12:00'),
('Flat Luxuoso', 'Rua F', 600, 'Apto 102', 'João', 'Silva', '92345678901', 2, 1, 'propriedade', 180.00, 4, 1, 10, 40.00, '15:00', '11:00'),
('Cabana na Floresta', 'Rua G', 700, NULL, 'Carlos', 'Oliveira', '95555555555', 3, 2, 'propriedade', 220.00, 6, 2, 14, 50.00, '14:00', '10:00'),
('Cobertura de Luxo', 'Rua H', 800, 'Apto 1501', 'Juliana', 'Almeida', '92222222222', 3, 2, 'propriedade', 350.00, 6, 2, 15, 70.00, '16:00', '12:00'),
('Casa Charmosa', 'Rua I', 900, NULL, 'Lucas', 'Rocha', '93333333333', 2, 2, 'propriedade', 200.00, 4, 2, 10, 40.00, '14:00', '11:00'),
('Bangalô Tropical', 'Rua J', 1000, NULL, 'Maria', 'Santos', '98765432109', 1, 1, 'propriedade', 180.00, 2, 1, 7, NULL, '15:00', '11:00'),
('Casa do Lago', 'Rua K', 1100, NULL, 'Ana', 'Pereira', '91122233344', 3, 2, 'propriedade', 220.00, 6, 2, 14, 50.00, '14:00', '10:00'),
('Apartamento Moderno', 'Rua L', 1200, 'Apto 302', 'Fernanda', 'Lima', '96636276660', 2, 1, 'propriedade', 160.00, 4, 1, 10, 30.00, '15:00', '11:00'),
('Vila da Montanha', 'Rua M', 1300, NULL, 'Pedro', 'Ferreira', '97788899900', 4, 3, 'propriedade', 280.00, 8, 2, 14, 60.00, '14:00', '11:00'),
('Pousada Aconchego', 'Rua N', 1400, NULL, 'Juliana', 'Almeida', '92222222222', 6, 6, 'propriedade', 400.00, 12, 2, 21, 100.00, '15:00', '12:00'),
('Casa na Serra', 'Rua O', 1500, NULL, 'Lucas', 'Rocha', '93333333333', 3, 2, 'propriedade', 230.00, 6, 2, 14, 50.00, '14:00', '11:00'),
('Suíte Conforto', 'Av. Beira Mar', 401, NULL, 'Ana', 'Pereira', '91122233344', 1, 1, 'quarto', 90.00, 2, 1, 7, 15.00, '14:00', '11:00'),
('Quarto Simples', 'Rua dos Turistas', 501, NULL, 'Gustavo', 'Martins', '99119945699', 1, 1, 'quarto', 50.00, 1, 1, 5, NULL, '12:00', '10:00'),
('Suíte Luxo', 'Av. dos Hoteleiros', 601, 'Andar 2', 'Maria', 'Santos', '98765432109', 1, 1, 'quarto', 120.00, 2, 1, 7, 20.00, '15:00', '11:00'),
('Quarto Duplo', 'Rua da Paz', 701, NULL, 'Fernanda', 'Lima', '96636276660', 1, 1, 'quarto', 70.00, 2, 1, 7, 10.00, '14:00', '11:00'),
('Suíte Master', 'Av. Principal', 801, 'Andar 10', 'Pedro', 'Ferreira', '97788899900', 1, 1, 'quarto', 150.00, 2, 1, 7, 30.00, '16:00', '12:00');

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
20 rows affected.

[]

In [115]:
%sql SELECT * FROM Propriedade;

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
20 rows affected.

[('Casa da Praia', 'Rua A', 100, 'Frente ao mar', 'Maria', 'Santos', '98765432109', 3, 2, 'propriedade', Decimal('200.00'), 6, 2, 15, Decimal('50.00'), datetime.time(14, 0), datetime.time(10, 0)),
 ('Chalé da Montanha', 'Rua B', 200, None, 'Pedro', 'Ferreira', '97788899900', 2, 1, 'propriedade', Decimal('150.00'), 4, 1, 7, Decimal('30.00'), datetime.time(15, 0), datetime.time(11, 0)),
 ('Apartamento do Centro', 'Rua C', 300, 'Apto 501', 'Lucas', 'Rocha', '93333333333', 1, 1, 'propriedade', Decimal('120.00'), 2, 1, 10, None, datetime.time(12, 0), datetime.time(10, 0)),
 ('Casa de Campo', 'Rua D', 400, None, 'Ana', 'Pereira', '91122233344', 4, 3, 'propriedade', Decimal('250.00'), 8, 2, 14, Decimal('60.00'), datetime.time(13, 0), datetime.time(11, 0)),
 ('Sítio Feliz', 'Rua E', 500, None, 'Pedro', 'Ferreira', '97788899900', 5, 4, 'propriedade', Decimal('300.00'), 10, 2, 21, Decimal('80.00'), datetime.time(14, 0), datetime.time(12, 0)),
 ('Flat Luxuoso', 'Rua F', 600, 'Apto 102', 'João', 'Silva', '92345678901', 2, 1, 'propriedade', Decimal('180.00'), 4, 1, 10, Decimal('40.00'), datetime.time(15, 0), datetime.time(11, 0)),
 ('Cabana na Floresta', 'Rua G', 700, None, 'Carlos', 'Oliveira', '95555555555', 3, 2, 'propriedade', Decimal('220.00'), 6, 2, 14, Decimal('50.00'), datetime.time(14, 0), datetime.time(10, 0)),
 ('Cobertura de Luxo', 'Rua H', 800, 'Apto 1501', 'Juliana', 'Almeida', '92222222222', 3, 2, 'propriedade', Decimal('350.00'), 6, 2, 15, Decimal('70.00'), datetime.time(16, 0), datetime.time(12, 0)),
 ('Casa Charmosa', 'Rua I', 900, None, 'Lucas', 'Rocha', '93333333333', 2, 2, 'propriedade', Decimal('200.00'), 4, 2, 10, Decimal('40.00'), datetime.time(14, 0), datetime.time(11, 0)),
 ('Bangalô Tropical', 'Rua J', 1000, None, 'Maria', 'Santos', '98765432109', 1, 1, 'propriedade', Decimal('180.00'), 2, 1, 7, None, datetime.time(15, 0), datetime.time(11, 0)),
 ('Casa do Lago', 'Rua K', 1100, None, 'Ana', 'Pereira', '91122233344', 3, 2, 'propriedade', Decimal('220.00'), 6, 2, 14, Decimal('50.00'), datetime.time(14, 0), datetime.time(10, 0)),
 ('Apartamento Moderno', 'Rua L', 1200, 'Apto 302', 'Fernanda', 'Lima', '96636276660', 2, 1, 'propriedade', Decimal('160.00'), 4, 1, 10, Decimal('30.00'), datetime.time(15, 0), datetime.time(11, 0)),
 ('Vila da Montanha', 'Rua M', 1300, None, 'Pedro', 'Ferreira', '97788899900', 4, 3, 'propriedade', Decimal('280.00'), 8, 2, 14, Decimal('60.00'), datetime.time(14, 0), datetime.time(11, 0)),
 ('Pousada Aconchego', 'Rua N', 1400, None, 'Juliana', 'Almeida', '92222222222', 6, 6, 'propriedade', Decimal('400.00'), 12, 2, 21, Decimal('100.00'), datetime.time(15, 0), datetime.time(12, 0)),
 ('Casa na Serra', 'Rua O', 1500, None, 'Lucas', 'Rocha', '93333333333', 3, 2, 'propriedade', Decimal('230.00'), 6, 2, 14, Decimal('50.00'), datetime.time(14, 0), datetime.time(11, 0)),
 ('Suíte Conforto', 'Av. Beira Mar', 401, None, 'Ana', 'Pereira', '91122233344', 1, 1, 'quarto', Decimal('90.00'), 2, 1, 7, Decimal('15.00'), datetime.time(14, 0), datetime.time(11, 0)),
 ('Quarto Simples', 'Rua dos Turistas', 501, None, 'Gustavo', 'Martins', '99119945699', 1, 1, 'quarto', Decimal('50.00'), 1, 1, 5, None, datetime.time(12, 0), datetime.time(10, 0)),
 ('Suíte Luxo', 'Av. dos Hoteleiros', 601, 'Andar 2', 'Maria', 'Santos', '98765432109', 1, 1, 'quarto', Decimal('120.00'), 2, 1, 7, Decimal('20.00'), datetime.time(15, 0), datetime.time(11, 0)),
 ('Quarto Duplo', 'Rua da Paz', 701, None, 'Fernanda', 'Lima', '96636276660', 1, 1, 'quarto', Decimal('70.00'), 2, 1, 7, Decimal('10.00'), datetime.time(14, 0), datetime.time(11, 0)),
 ('Suíte Master', 'Av. Principal', 801, 'Andar 10', 'Pedro', 'Ferreira', '97788899900', 1, 1, 'quarto', Decimal('150.00'), 2, 1, 7, Decimal('30.00'), datetime.time(16, 0), datetime.time(12, 0))]