In [1]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [7]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%config SqlMagic.autocommit=False

In [9]:
%%sql 
COMMIT;
DROP DATABASE IF EXISTS airbnb_icmc WITH (FORCE);
COMMIT;
CREATE DATABASE airbnb_icmc
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
Done.
(psycopg2.errors.ObjectInUse) ERRO:  não é possível remover banco de dados que se encontra aberto

[SQL: DROP DATABASE IF EXISTS airbnb_icmc WITH (FORCE);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
%sql SELECT CURRENT_DATABASE();

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
1 rows affected.

[('airbnb_icmc',)]

In [19]:
%%sql

CREATE TYPE tipo_locacao AS ENUM {"quarto", "chave"}; 
CREATE TYPE tipo_sexo AS ENUM {"F", "M"};
CREATE TYPE tipo_camas AS ENUM {"solteiro", "casal", "beliche"};
CREATE TYPE tipo_conta AS ENUM {"corrente", "poupança", "pagamento"};

 * postgresql://postgres:***@localhost/airbnb_icmc
   postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql
CREATE TABLE IF NOT EXIST Propriedade(
  nome             VARCHAR(70),
  endereco         VARCHAR(100),
  nome_anf         VARCHAR(70),
  sobrenome_anf    VARCHAR(70),
  num_tel_anf      VARCHAR(11),
  num_quartos      INTEGER NOT NULL,
  num_banheiros    INTEGER NOT NULL,
  tipo_hospedagem  tipo_locacao NOT NULL,
  preco_noite      DECIMAL(2) NOT NULL,
  num_max_hosp     INTEGER NOT NULL,
  num_min_noite    INTEGER NOT NULL,
  taxa_limpeza      DECIMAL(2),
  horario_check_in  TIME,
  horario_check_out TIME,
  PRIMARY KEY (nome, endereco),
  FOREIGN KEY (nome_anf, sobrenome_anf, num_tel_anf) REFERENCES Anfitriao {Anfitriao.nome Anfitriao.sobrenome Anfitriao.num_tel},
);

CREATE TABLE IF NOT EXISTS Anfitriao(
  nome             VARCHAR(70),
  sobrenome        VARCHAR(70),
  num_tel          VARCHAR(11),
  endereco         VARCAHR(100),
  dt_nascimento    DATE,
  sexo             tipo_sexo,
  email            VARCHAR(50) UNIQUE NOT NULL,
  senha            VARCHAR(40) NOT NULL,
  PRIMARY KEY (nome, sobrenome, num_tel)
);

CREATE TABLE IF NOT EXISTS Locatario(
  nome             VARCHAR(70),
  sobrenome        VARCHAR(70),
  num_tel          VARCHAR(11),
  endereco         VARCAHR(100),
  dt_nascimento    DATE,
  sexo             tipo_sexo,
  email            VARCHAR(50) UNIQUE NOT NULL,
  senha            VARCHAR(40) NOT NULL,
  PRIMARY KEY (nome, sobrenome, num_tel)
);

*** FALTA TERMINAR ESSA TABELA ***
CREATE TABLE IF NOT EXISTS Locacao(
  data_check_in    DATE,
  data_check_out   DATE,
  nome_prop        VARCHAR(70),
  endereco_prop    VARCHAR(100),
  nome_locatario   VARCHAR(70),
  sobrenome_locatario VARCHAR(70),
  num_tel_locatario   VARCHAR(11),
  confirmacao         BOOLEAN,
  num_hospedes        INTEGER,
  valor               DECIMAL(2),
  imposto             DECIMAL(2),
  promocao            DECIMAL(2), *********
  PRIMARY KEY (data_check_in, nome_prop, endereco_prop, nome_locatario, sobrenome_locatario, num_tel_locatario),
  FOREIGN KEY (nome_prop, endereco_prop, nome_locatario, sobrenome_locatario, num_tel_locatario)
);

CREATE TABLE IF NOT EXISTS Quarto(
  num_quarto        INTEGER,
  nome_propriedade  VARCHAR(70),
  endereco_propriedade VARCHAR(100),
  num_de_camas         INTEGER NOT NULL, 
  tipo_de_camas        tipo_camas NOT NULL,
  PRIMARY KEY (num_quarto, nome_propriedade, endereco_propriedade),
  FOREIGN KEY (nome_propriedade, endereco_propriedade)
);

CREATE TABLE IF NOT EXISTS Conta_bancaria(
  num_conta         VARCHAR(15),
  nome_anf          VARCAHR(70),
  sobrenome_anf     VARCAHR(70),
  num_tel_anf       VARCHAR(11),
  num_roteamento    VARCHAR(50),
  tipo_conta        tipo_conta,
  PRIMARY KEY (num_conta, nome_anf, sobrenome_anf, num_tel_anf),
  FOREIGN KEY (nome_anf, sobrenome_anf, num_tel_anf)
);