In [1]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc

# Carregamento de Dados

## Carregamento de Localização

In [2]:
%%sql
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('São Paulo', 'São Paulo', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Rio de Janeiro', 'Rio de Janeiro', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Belo Horizonte', 'Minas Gerais', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Porto Alegre', 'Rio Grande do Sul', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Curitiba', 'Paraná', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Salvador', 'Bahia', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Fortaleza', 'Ceará', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Recife', 'Pernambuco', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Brasília', 'Distrito Federal', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('New York City', 'New York', 'Estados Unidos');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Los Angeles', 'California', 'Estados Unidos');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Chicago', 'Illinois', 'Estados Unidos');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Houston', 'Texas', 'Estados Unidos');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Miami', 'Florida', 'Estados Unidos');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Boston', 'Massachusetts', 'Estados Unidos');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('San Francisco', 'California', 'Estados Unidos');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Seattle', 'Washington', 'Estados Unidos');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Las Vegas', 'Nevada', 'Estados Unidos');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Orlando', 'Florida', 'Estados Unidos');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Campinas', 'São Paulo', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Ribeirão Preto', 'São Paulo', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('Santos', 'São Paulo', 'Brasil');
INSERT INTO Localizacao (cidade, estado, pais) VALUES ('São José dos Campos', 'São Paulo', 'Brasil');

 * postgresql://postgres:***@localhost/airbnb_icmc
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [30]:
%%sql
SELECT * FROM Localizacao;

 * postgresql://postgres:***@localhost/airbnb_icmc
23 rows affected.

[('São Paulo', 'São Paulo', 'Brasil'),
 ('Rio de Janeiro', 'Rio de Janeiro', 'Brasil'),
 ('Belo Horizonte', 'Minas Gerais', 'Brasil'),
 ('Porto Alegre', 'Rio Grande do Sul', 'Brasil'),
 ('Curitiba', 'Paraná', 'Brasil'),
 ('Salvador', 'Bahia', 'Brasil'),
 ('Fortaleza', 'Ceará', 'Brasil'),
 ('Recife', 'Pernambuco', 'Brasil'),
 ('Brasília', 'Distrito Federal', 'Brasil'),
 ('New York City', 'New York', 'Estados Unidos'),
 ('Los Angeles', 'California', 'Estados Unidos'),
 ('Chicago', 'Illinois', 'Estados Unidos'),
 ('Houston', 'Texas', 'Estados Unidos'),
 ('Miami', 'Florida', 'Estados Unidos'),
 ('Boston', 'Massachusetts', 'Estados Unidos'),
 ('San Francisco', 'California', 'Estados Unidos'),
 ('Seattle', 'Washington', 'Estados Unidos'),
 ('Las Vegas', 'Nevada', 'Estados Unidos'),
 ('Orlando', 'Florida', 'Estados Unidos'),
 ('Campinas', 'São Paulo', 'Brasil'),
 ('Ribeirão Preto', 'São Paulo', 'Brasil'),
 ('Santos', 'São Paulo', 'Brasil'),
 ('São José dos Campos', 'São Paulo', 'Brasil')]

## Carregamento de Usuários

In [7]:
%%sql

INSERT INTO Usuario (id, nome, sobrenome, num_tel, tipo, rua, numero, complemento, cidade, estado, pais, bairro, dt_nascimento, sexo, email, senha)
VALUES 
(1, 'Lucas', 'Silva', '11987654321', 'locatário', 'Rua das Flores', 123, 'Apto 101', 'São Paulo', 'São Paulo', 'Brasil', 'Centro', '1990-05-15', 'M', 'lucas.silva@example.com', 'senha123'),
(2, 'Carolina', 'Santos', '11965437892', 'proprietário', 'Av. Principal', 456, NULL, 'Rio de Janeiro', 'Rio de Janeiro', 'Brasil', 'Copacabana', '1985-10-20', 'F', 'carolina.santos@example.com', 'senha456'),
(3, 'Marcos', 'Oliveira', '1135678901', 'locatário e proprietário', 'Rua dos Coqueiros', 789, 'Bloco B', 'Belo Horizonte', 'Minas Gerais', 'Brasil', 'Centro', '1980-03-25', 'M', 'marcos.oliveira@example.com', 'senha789'),
(4, 'Camila', 'Costa', '11987651234', 'locatário', 'Rua das Palmeiras', 1011, NULL, 'Porto Alegre', 'Rio Grande do Sul', 'Brasil', 'Jardim Botânico', '1975-08-10', 'F', 'camila.costa@example.com', 'senha1011'),
(5, 'Rafael', 'Ferreira', '11999887766', 'locatário', 'Av. das Flores', 222, 'Apto 202', 'Curitiba', 'Paraná', 'Brasil', 'Batel', '1988-12-03', 'M', 'rafael.ferreira@example.com', 'senha2022'),
(6, 'Juliana', 'Oliveira', '11987651234', 'proprietário', 'Rua dos Pinheiros', 333, NULL, 'Santos', 'São Paulo', 'Brasil', 'Ponta da Praia', '1982-07-18', 'F', 'juliana.oliveira@example.com', 'senha3333'),
(7, 'Bruno', 'Almeida', '1135678901', 'locatário', 'Av. das Acácias', 444, 'Casa 1', 'Campinas', 'São Paulo', 'Brasil', 'Cambuí', '1979-09-05', 'M', 'bruno.almeida@example.com', 'senha4444'),
(8, 'Vanessa', 'Souza', '11999887766', 'locatário', 'Rua dos Girassóis', 555, NULL, 'Ribeirão Preto', 'São Paulo', 'Brasil', 'Jardim Paulista', '1987-04-12', 'F', 'vanessa.souza@example.com', 'senha5555'),
(9, 'Rodrigo', 'Machado', '11987651234', 'locatário e proprietário', 'Rua das Orquídeas', 666, NULL, 'São José dos Campos', 'São Paulo', 'Brasil', 'Vila Ema', '1983-01-30', 'M', 'rodrigo.machado@example.com', 'senha6666'),
(10, 'Patrícia', 'Gomes', '1135678901', 'proprietário', 'Av. dos Jacarandás', 777, 'Bloco C', 'São Paulo', 'São Paulo', 'Brasil', 'Moema', '1980-11-08', 'F', 'patricia.gomes@example.com', 'senha7777'),
(11, 'Fernando', 'Lima', '11999887766', 'locatário', 'Rua das Violetas', 888, NULL, 'Campinas', 'São Paulo', 'Brasil', 'Taquaral', '1976-06-22', 'M', 'fernando.lima@example.com', 'senha8888'),
(12, 'Patrícia', 'Sousa', '1135678901', 'locatário', 'Av. das Magnólias', 999, NULL, 'São Paulo', 'São Paulo', 'Brasil', 'Vila Mariana', '1989-03-17', 'F', 'patricia.sousa@example.com', 'senha9999'),
(13, 'Gustavo', 'Oliveira', '11987651234', 'locatário e proprietário', 'Rua das Orquídeas', 666, NULL, 'São José dos Campos', 'São Paulo', 'Brasil', 'Vila Ema', '1983-01-30', 'M', 'gustavo.oliveira@example.com', 'senha1111'),
(14, 'Camila', 'Lima', '1135678901', 'proprietário', 'Av. dos Jacarandás', 777, 'Bloco C', 'São Paulo', 'São Paulo', 'Brasil', 'Moema', '1980-11-08', 'F', 'camila.lima@example.com', 'senha2222'),
(15, 'Fernando', 'Machado', '11999887766', 'locatário', 'Rua das Violetas', 888, NULL, 'Campinas', 'São Paulo', 'Brasil', 'Taquaral', '1976-06-22', 'M', 'fernando.machado@example.com', 'senha3333'),
(16, 'Paula', 'Sousa', '1135678901', 'locatário', 'Av. das Magnólias', 999, NULL, 'São Paulo', 'São Paulo', 'Brasil', 'Vila Mariana', '1989-03-17', 'F', 'paula.sousa@example.com', 'senha4444');

 * postgresql://postgres:***@localhost/airbnb_icmc
16 rows affected.

[]

In [29]:
%%sql
SELECT * FROM Usuario;

 * postgresql://postgres:***@localhost/airbnb_icmc
16 rows affected.

[(1, 'Lucas', 'Silva', '11987654321', 'locatário', 'Rua das Flores', 123, 'Apto 101', 'São Paulo', 'São Paulo', 'Brasil', 'Centro', datetime.date(1990, 5, 15), 'M', 'lucas.silva@example.com', 'senha123'),
 (2, 'Carolina', 'Santos', '11965437892', 'proprietário', 'Av. Principal', 456, None, 'Rio de Janeiro', 'Rio de Janeiro', 'Brasil', 'Copacabana', datetime.date(1985, 10, 20), 'F', 'carolina.santos@example.com', 'senha456'),
 (3, 'Marcos', 'Oliveira', '1135678901', 'locatário e proprietário', 'Rua dos Coqueiros', 789, 'Bloco B', 'Belo Horizonte', 'Minas Gerais', 'Brasil', 'Centro', datetime.date(1980, 3, 25), 'M', 'marcos.oliveira@example.com', 'senha789'),
 (4, 'Camila', 'Costa', '11987651234', 'locatário', 'Rua das Palmeiras', 1011, None, 'Porto Alegre', 'Rio Grande do Sul', 'Brasil', 'Jardim Botânico', datetime.date(1975, 8, 10), 'F', 'camila.costa@example.com', 'senha1011'),
 (5, 'Rafael', 'Ferreira', '11999887766', 'locatário', 'Av. das Flores', 222, 'Apto 202', 'Curitiba', 'Paraná', 'Brasil', 'Batel', datetime.date(1988, 12, 3), 'M', 'rafael.ferreira@example.com', 'senha2022'),
 (6, 'Juliana', 'Oliveira', '11987651234', 'proprietário', 'Rua dos Pinheiros', 333, None, 'Santos', 'São Paulo', 'Brasil', 'Ponta da Praia', datetime.date(1982, 7, 18), 'F', 'juliana.oliveira@example.com', 'senha3333'),
 (7, 'Bruno', 'Almeida', '1135678901', 'locatário', 'Av. das Acácias', 444, 'Casa 1', 'Campinas', 'São Paulo', 'Brasil', 'Cambuí', datetime.date(1979, 9, 5), 'M', 'bruno.almeida@example.com', 'senha4444'),
 (8, 'Vanessa', 'Souza', '11999887766', 'locatário', 'Rua dos Girassóis', 555, None, 'Ribeirão Preto', 'São Paulo', 'Brasil', 'Jardim Paulista', datetime.date(1987, 4, 12), 'F', 'vanessa.souza@example.com', 'senha5555'),
 (9, 'Rodrigo', 'Machado', '11987651234', 'locatário e proprietário', 'Rua das Orquídeas', 666, None, 'São José dos Campos', 'São Paulo', 'Brasil', 'Vila Ema', datetime.date(1983, 1, 30), 'M', 'rodrigo.machado@example.com', 'senha6666'),
 (10, 'Patrícia', 'Gomes', '1135678901', 'proprietário', 'Av. dos Jacarandás', 777, 'Bloco C', 'São Paulo', 'São Paulo', 'Brasil', 'Moema', datetime.date(1980, 11, 8), 'F', 'patricia.gomes@example.com', 'senha7777'),
 (11, 'Fernando', 'Lima', '11999887766', 'locatário', 'Rua das Violetas', 888, None, 'Campinas', 'São Paulo', 'Brasil', 'Taquaral', datetime.date(1976, 6, 22), 'M', 'fernando.lima@example.com', 'senha8888'),
 (12, 'Patrícia', 'Sousa', '1135678901', 'locatário', 'Av. das Magnólias', 999, None, 'São Paulo', 'São Paulo', 'Brasil', 'Vila Mariana', datetime.date(1989, 3, 17), 'F', 'patricia.sousa@example.com', 'senha9999'),
 (13, 'Gustavo', 'Oliveira', '11987651234', 'locatário e proprietário', 'Rua das Orquídeas', 666, None, 'São José dos Campos', 'São Paulo', 'Brasil', 'Vila Ema', datetime.date(1983, 1, 30), 'M', 'gustavo.oliveira@example.com', 'senha1111'),
 (14, 'Camila', 'Lima', '1135678901', 'proprietário', 'Av. dos Jacarandás', 777, 'Bloco C', 'São Paulo', 'São Paulo', 'Brasil', 'Moema', datetime.date(1980, 11, 8), 'F', 'camila.lima@example.com', 'senha2222'),
 (15, 'Fernando', 'Machado', '11999887766', 'locatário', 'Rua das Violetas', 888, None, 'Campinas', 'São Paulo', 'Brasil', 'Taquaral', datetime.date(1976, 6, 22), 'M', 'fernando.machado@example.com', 'senha3333'),
 (16, 'Paula', 'Sousa', '1135678901', 'locatário', 'Av. das Magnólias', 999, None, 'São Paulo', 'São Paulo', 'Brasil', 'Vila Mariana', datetime.date(1989, 3, 17), 'F', 'paula.sousa@example.com', 'senha4444')]

## Carregamento de Propriedades

In [15]:
%%sql
INSERT INTO Propriedade (id, nome, rua, numero, complemento, cidade, estado, pais, bairro, id_dono, num_quartos, tipo_quarto, num_camas, num_banheiros, tipo_hospedagem, preco_noite, num_max_hosp, num_min_noites, num_max_noites, taxa_limpeza, horario_check_in, horario_check_out)
VALUES 
(21, 'Cozy Apartment', 'Sunset Blvd', 123, 'Apt 301', 'Los Angeles', 'California', 'Estados Unidos', 'Hollywood Hills', 2, 1, 'solteiro', 1, 1, 'propriedade', 100.00, 1, 1, 7, 20.00, '15:00', '11:00'),
(22, 'Beachfront Villa', 'Ocean Drive', 456, NULL, 'Miami', 'Florida', 'Estados Unidos', 'South Beach', 3, 3, 'casal', 6, 2, 'propriedade', 350.00, 8, 2, 14, 60.00, '16:00', '10:00'),
(25, 'Beach House', 'Beach Road', 111, NULL, 'Rio de Janeiro', 'Rio de Janeiro', 'Brasil', 'Copacabana', 9, 4, 'casal', 8, 3, 'propriedade', 500.00, 10, 3, 30, 80.00, '14:00', '12:00'),
(1, 'Apartamento Aconchegante', 'Rua das Flores', 123, 'Apt 101', 'São Paulo', 'São Paulo', 'Brasil', 'Centro', 10, 2, 'casal', 4, 2, 'propriedade', 200.00, 4, 1, 7, 30.00, '14:00', '11:00'),
(2, 'Casa na Praia', 'Av. Principal', 456, NULL, 'Rio de Janeiro', 'Rio de Janeiro', 'Brasil', 'Copacabana', 13, 3, 'casal', 6, 2, 'propriedade', 300.00, 6, 2, 14, 40.00, '15:00', '10:00'),
(3, 'Chalé Charmoso', 'Rua dos Coqueiros', 789, 'Casa de Hóspedes', 'Belo Horizonte', 'Minas Gerais', 'Brasil', 'Centro', 14, 1, 'solteiro', 2, 1, 'quarto', 100.00, 2, 1, 7, 20.00, '16:00', '12:00'),
(4, 'Casa de Campo', 'Rua das Palmeiras', 1011, NULL, 'Porto Alegre', 'Rio Grande do Sul', 'Brasil', 'Jardim Botânico', 3, 4, 'casal', 8, 3, 'propriedade', 400.00, 8, 2, 21, 60.00, '15:00', '11:00'),
(5, 'Apartamento Moderno', 'Av. dos Pinheiros', 222, 'Apt 202', 'Santos', 'São Paulo', 'Brasil', 'Ponta da Praia', 6, 2, 'casal', 4, 2, 'propriedade', 250.00, 4, 2, 14, 50.00, '14:00', '11:00'),
(17, 'Casa na Praia Bonita', 'Rua dos Coqueiros', 123, NULL, 'Fortaleza', 'Ceará', 'Brasil', 'Praia de Iracema', 6, 3, 'casal', 6, 2, 'propriedade', 300.00, 6, 2, 14, 40.00, '15:00', '11:00'),
(18, 'Apartamento Monstruoso', 'Av. das Flores', 456, 'Apt 202', 'Recife', 'Pernambuco', 'Brasil', 'Boa Viagem', 9, 2, 'casal', 4, 1, 'propriedade', 250.00, 4, 1, 7, 30.00, '14:00', '10:00'),
(19, 'Chalé na Montanha', 'Rua das Palmeiras', 789, NULL, 'São José dos Campos', 'São Paulo', 'Brasil', 'Vila Ema', 9, 1, 'solteiro', 1, 1, 'propriedade', 100.00, 2, 1, 7, 20.00, '16:00', '12:00'),
(20, 'Casa de Campo Luxuosa', 'Av. das Acácias', 1011, 'Casa de Hóspedes', 'Santos', 'São Paulo', 'Brasil', 'Ponta da Praia', 6, 4, 'casal', 8, 3, 'propriedade', 400.00, 8, 2, 21, 60.00, '15:00', '11:00');

 * postgresql://postgres:***@localhost/airbnb_icmc
12 rows affected.

[]

In [28]:
%%sql
SELECT * FROM Propriedade;

 * postgresql://postgres:***@localhost/airbnb_icmc
12 rows affected.

[(21, 'Cozy Apartment', 'Sunset Blvd', 123, 'Apt 301', 'Los Angeles', 'California', 'Estados Unidos', 'Hollywood Hills', 2, 1, 'solteiro', 1, 1, 'propriedade', Decimal('100.00'), 1, 1, 7, Decimal('20.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (22, 'Beachfront Villa', 'Ocean Drive', 456, None, 'Miami', 'Florida', 'Estados Unidos', 'South Beach', 3, 3, 'casal', 6, 2, 'propriedade', Decimal('350.00'), 8, 2, 14, Decimal('60.00'), datetime.time(16, 0), datetime.time(10, 0)),
 (25, 'Beach House', 'Beach Road', 111, None, 'Rio de Janeiro', 'Rio de Janeiro', 'Brasil', 'Copacabana', 9, 4, 'casal', 8, 3, 'propriedade', Decimal('500.00'), 10, 3, 30, Decimal('80.00'), datetime.time(14, 0), datetime.time(12, 0)),
 (1, 'Apartamento Aconchegante', 'Rua das Flores', 123, 'Apt 101', 'São Paulo', 'São Paulo', 'Brasil', 'Centro', 10, 2, 'casal', 4, 2, 'propriedade', Decimal('200.00'), 4, 1, 7, Decimal('30.00'), datetime.time(14, 0), datetime.time(11, 0)),
 (2, 'Casa na Praia', 'Av. Principal', 456, None, 'Rio de Janeiro', 'Rio de Janeiro', 'Brasil', 'Copacabana', 13, 3, 'casal', 6, 2, 'propriedade', Decimal('300.00'), 6, 2, 14, Decimal('40.00'), datetime.time(15, 0), datetime.time(10, 0)),
 (3, 'Chalé Charmoso', 'Rua dos Coqueiros', 789, 'Casa de Hóspedes', 'Belo Horizonte', 'Minas Gerais', 'Brasil', 'Centro', 14, 1, 'solteiro', 2, 1, 'quarto', Decimal('100.00'), 2, 1, 7, Decimal('20.00'), datetime.time(16, 0), datetime.time(12, 0)),
 (4, 'Casa de Campo', 'Rua das Palmeiras', 1011, None, 'Porto Alegre', 'Rio Grande do Sul', 'Brasil', 'Jardim Botânico', 3, 4, 'casal', 8, 3, 'propriedade', Decimal('400.00'), 8, 2, 21, Decimal('60.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (5, 'Apartamento Moderno', 'Av. dos Pinheiros', 222, 'Apt 202', 'Santos', 'São Paulo', 'Brasil', 'Ponta da Praia', 6, 2, 'casal', 4, 2, 'propriedade', Decimal('250.00'), 4, 2, 14, Decimal('50.00'), datetime.time(14, 0), datetime.time(11, 0)),
 (17, 'Casa na Praia Bonita', 'Rua dos Coqueiros', 123, None, 'Fortaleza', 'Ceará', 'Brasil', 'Praia de Iracema', 6, 3, 'casal', 6, 2, 'propriedade', Decimal('300.00'), 6, 2, 14, Decimal('40.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (18, 'Apartamento Monstruoso', 'Av. das Flores', 456, 'Apt 202', 'Recife', 'Pernambuco', 'Brasil', 'Boa Viagem', 9, 2, 'casal', 4, 1, 'propriedade', Decimal('250.00'), 4, 1, 7, Decimal('30.00'), datetime.time(14, 0), datetime.time(10, 0)),
 (19, 'Chalé na Montanha', 'Rua das Palmeiras', 789, None, 'São José dos Campos', 'São Paulo', 'Brasil', 'Vila Ema', 9, 1, 'solteiro', 1, 1, 'propriedade', Decimal('100.00'), 2, 1, 7, Decimal('20.00'), datetime.time(16, 0), datetime.time(12, 0)),
 (20, 'Casa de Campo Luxuosa', 'Av. das Acácias', 1011, 'Casa de Hóspedes', 'Santos', 'São Paulo', 'Brasil', 'Ponta da Praia', 6, 4, 'casal', 8, 3, 'propriedade', Decimal('400.00'), 8, 2, 21, Decimal('60.00'), datetime.time(15, 0), datetime.time(11, 0))]

In [31]:
%%sql
SELECT id FROM Usuario WHERE tipo = 'locatário' OR tipo = 'locatário e proprietário';

 * postgresql://postgres:***@localhost/airbnb_icmc
12 rows affected.

[(1,), (3,), (4,), (5,), (7,), (8,), (9,), (11,), (12,), (13,), (15,), (16,)]

In [32]:
%%sql 

SELECT id, preco_noite, taxa_limpeza, num_min_noites, num_max_noites
FROM Propriedade WHERE id = 1;

 * postgresql://postgres:***@localhost/airbnb_icmc
1 rows affected.

[(1, Decimal('200.00'), Decimal('30.00'), 1, 7)]

## Carregamento de Locações

In [23]:
%%sql
DROP TABLE Locacao CASCADE;

CREATE TABLE Locacao(
  id                  INTEGER,
  data_check_in       DATE NOT NULL,
  data_check_out      DATE NOT NULL,
  num_hospedes        INTEGER NOT NULL,
  valor               DECIMAL(10,2) NOT NULL,
  taxa_limpeza        DECIMAL(10,2),
  imposto             DECIMAL(4,2),
  codigo_promocao     VARCHAR(50), 
  desconto            DECIMAL(4,2),
  valor_total         DECIMAL(10,2),
  PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost/airbnb_icmc
Done.
Done.

[]

In [24]:
%%sql 
INSERT INTO Locacao (id, data_check_in, data_check_out, num_hospedes, valor, taxa_limpeza, imposto, codigo_promocao, desconto, valor_total)
VALUES 
(1, '2024-06-15', '2024-06-20', 1, 500.00, 20.00, 0.05, NULL, NULL, 546.00),
(2, '2024-07-02', '2024-07-14', 8, 4200.00, 720.00, 0.05, '1424139839', 0.08, 4752.72),
(3, '2024-05-28', '2024-06-02', 5, 2500.00, 400.00, 0.05, NULL, NULL, 3045.00),
(4, '2024-12-20', '2024-12-27', 4, 1400.00, 210.00, 0.05, NULL, NULL, 1690.50),
(5, '2024-01-03', '2024-01-05', 6, 600.00, 80.00, 0.05, NULL, NULL, 714.00),
(6, '2023-11-12', '2023-11-13', 1, 100.00, 20.00, 0.05, '1119826108', 0.10, 113.40),
(7, '2022-05-06', '2022-05-10', 4, 1400.00, 240.00, 0.03, NULL, NULL, 1722.00),
(8, '2024-05-20', '2024-05-22', 2, 500.00, 60.00, 0.05, NULL, NULL, 588.00),
(9, '2018-11-01', '2018-11-22', 5, 8400.00, 1260.00, 0.05, NULL, NULL, 10143.00),
(10, '2024-01-10', '2024-01-11', 2, 100.00, 20.00, 0.05, NULL, NULL, 126.00);

 * postgresql://postgres:***@localhost/airbnb_icmc
10 rows affected.

[]

In [25]:
%%sql
SELECT * FROM Locacao;

 * postgresql://postgres:***@localhost/airbnb_icmc
10 rows affected.

[(1, datetime.date(2024, 6, 15), datetime.date(2024, 6, 20), 1, Decimal('500.00'), Decimal('20.00'), Decimal('0.05'), None, None, Decimal('546.00')),
 (2, datetime.date(2024, 7, 2), datetime.date(2024, 7, 14), 8, Decimal('4200.00'), Decimal('720.00'), Decimal('0.05'), '1424139839', Decimal('0.08'), Decimal('4752.72')),
 (3, datetime.date(2024, 5, 28), datetime.date(2024, 6, 2), 5, Decimal('2500.00'), Decimal('400.00'), Decimal('0.05'), None, None, Decimal('3045.00')),
 (4, datetime.date(2024, 12, 20), datetime.date(2024, 12, 27), 4, Decimal('1400.00'), Decimal('210.00'), Decimal('0.05'), None, None, Decimal('1690.50')),
 (5, datetime.date(2024, 1, 3), datetime.date(2024, 1, 5), 6, Decimal('600.00'), Decimal('80.00'), Decimal('0.05'), None, None, Decimal('714.00')),
 (6, datetime.date(2023, 11, 12), datetime.date(2023, 11, 13), 1, Decimal('100.00'), Decimal('20.00'), Decimal('0.05'), '1119826108', Decimal('0.10'), Decimal('113.40')),
 (7, datetime.date(2022, 5, 6), datetime.date(2022, 5, 10), 4, Decimal('1400.00'), Decimal('240.00'), Decimal('0.03'), None, None, Decimal('1722.00')),
 (8, datetime.date(2024, 5, 20), datetime.date(2024, 5, 22), 2, Decimal('500.00'), Decimal('60.00'), Decimal('0.05'), None, None, Decimal('588.00')),
 (9, datetime.date(2018, 11, 1), datetime.date(2018, 11, 22), 5, Decimal('8400.00'), Decimal('1260.00'), Decimal('0.05'), None, None, Decimal('10143.00')),
 (10, datetime.date(2024, 1, 10), datetime.date(2024, 1, 11), 2, Decimal('100.00'), Decimal('20.00'), Decimal('0.05'), None, None, Decimal('126.00'))]

In [26]:
%%sql 
INSERT INTO Reservar (id_locatario, id_prop, id_locacao, data_reserva, confirmacao)
VALUES 
(1, 21, 1, '2024-03-15', TRUE),
(3, 22, 2, '2024-05-01', FALSE),
(4, 25, 3, '2024-03-05', TRUE),
(5, 1, 4, '2024-05-12', FALSE),
(7, 2, 5, '2023-12-01', TRUE),
(8, 3, 6, '2023-07-11', TRUE),
(9, 22, 7, '2022-02-28', TRUE),
(11, 18, 8, '2024-04-29', FALSE),
(12, 20, 9, '2018-09-25', TRUE),
(13, 19, 10, '2024-01-05', TRUE);

 * postgresql://postgres:***@localhost/airbnb_icmc
10 rows affected.

[]

In [27]:
%%sql
SELECT * FROM Reservar;

 * postgresql://postgres:***@localhost/airbnb_icmc
10 rows affected.

[(1, 21, 1, datetime.date(2024, 3, 15), True),
 (3, 22, 2, datetime.date(2024, 5, 1), False),
 (4, 25, 3, datetime.date(2024, 3, 5), True),
 (5, 1, 4, datetime.date(2024, 5, 12), False),
 (7, 2, 5, datetime.date(2023, 12, 1), True),
 (8, 3, 6, datetime.date(2023, 7, 11), True),
 (9, 22, 7, datetime.date(2022, 2, 28), True),
 (11, 18, 8, datetime.date(2024, 4, 29), False),
 (12, 20, 9, datetime.date(2018, 9, 25), True),
 (13, 19, 10, datetime.date(2024, 1, 5), True)]