## Importando as bibliotecas e conectando na base de dados

In [2]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [3]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc

## Exercício 5

### Mostrar a relação inteira

In [3]:
%%sql
SELECT *
FROM Propriedade
ORDER BY id ASC
LIMIT 15;

 * postgresql://postgres:***@localhost/airbnb_icmc
15 rows affected.

[(1, 'Apartamento Aconchegante', 'Rua das Flores', 123, 'Apt 101', 'São Paulo', 'São Paulo', 'Brasil', 'Centro', 'Patrícia', 'Gomes', '1135678901', 2, 'casal', 4, 2, 'apartamento', Decimal('200.00'), 4, 1, 7, Decimal('30.00'), datetime.time(14, 0), datetime.time(11, 0)),
 (2, 'Casa na Praia', 'Av. Principal', 456, None, 'Rio de Janeiro', 'Rio de Janeiro', 'Brasil', 'Copacabana', 'Gustavo', 'Oliveira', '11987651234', 3, 'casal', 6, 2, 'casa própria', Decimal('300.00'), 6, 2, 14, Decimal('40.00'), datetime.time(15, 0), datetime.time(10, 0)),
 (3, 'Chalé Charmoso', 'Rua dos Coqueiros', 789, 'Casa de Hóspedes', 'Belo Horizonte', 'Minas Gerais', 'Brasil', 'Centro', 'Camila', 'Lima', '1135678901', 1, 'solteiro', 2, 1, 'quarto individual', Decimal('100.00'), 2, 1, 7, Decimal('20.00'), datetime.time(16, 0), datetime.time(12, 0)),
 (4, 'Casa de Campo', 'Rua das Palmeiras', 1011, None, 'Porto Alegre', 'Rio Grande do Sul', 'Brasil', 'Jardim Botânico', 'Marcos', 'Oliveira', '1135678901', 4, 'casal', 8, 3, 'chalé', Decimal('400.00'), 8, 2, 21, Decimal('60.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (5, 'Apartamento Moderno', 'Av. dos Pinheiros', 222, 'Apt 202', 'Santos', 'São Paulo', 'Brasil', 'Ponta da Praia', 'Juliana', 'Oliveira', '11987651234', 2, 'casal', 4, 2, 'apartamento', Decimal('250.00'), 4, 2, 14, Decimal('50.00'), datetime.time(14, 0), datetime.time(11, 0)),
 (17, 'Casa na Praia Bonita', 'Rua dos Coqueiros', 123, None, 'Fortaleza', 'Ceará', 'Brasil', 'Praia de Iracema', 'Juliana', 'Oliveira', '11987651234', 3, 'casal', 6, 2, 'casa própria', Decimal('300.00'), 6, 2, 14, Decimal('40.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (18, 'Apartamento Monstruoso', 'Av. das Flores', 456, 'Apt 202', 'Recife', 'Pernambuco', 'Brasil', 'Boa Viagem', 'Rodrigo', 'Machado', '11987651234', 2, 'casal', 4, 1, 'apartamento', Decimal('250.00'), 4, 1, 7, Decimal('30.00'), datetime.time(14, 0), datetime.time(10, 0)),
 (19, 'Chalé na Montanha', 'Rua das Palmeiras', 789, None, 'São José dos Paraiabas', 'São Paulo', 'Brasil', 'Vila Ema', 'Rodrigo', 'Machado', '11987651234', 1, 'solteiro', 1, 1, 'quarto individual', Decimal('100.00'), 2, 1, 7, Decimal('20.00'), datetime.time(16, 0), datetime.time(12, 0)),
 (20, 'Casa de Campo Luxuosa', 'Av. das Acácias', 1011, 'Casa de Hóspedes', 'Santos', 'São Paulo', 'Brasil', 'Ponta da Praia', 'Juliana', 'Oliveira', '11987651234', 4, 'casal', 8, 3, 'chalé', Decimal('400.00'), 8, 2, 21, Decimal('60.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (21, 'Cozy Apartment', 'Sunset Blvd', 123, 'Apt 301', 'Los Angeles', 'California', 'Estados Unidos', 'Hollywood Hills', 'Carolina', 'Santos', '11965437892', 1, 'solteiro', 1, 1, 'apartamento', Decimal('100.00'), 1, 1, 7, Decimal('20.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (22, 'Beachfront Villa', 'Ocean Drive', 456, None, 'Miami', 'Florida', 'Estados Unidos', 'South Beach', 'Marcos', 'Oliveira', '1135678901', 3, 'casal', 6, 2, 'casa própria', Decimal('350.00'), 8, 2, 14, Decimal('60.00'), datetime.time(16, 0), datetime.time(10, 0)),
 (25, 'Beach House', 'Beach Road', 111, None, 'Rio de Janeiro', 'Rio de Janeiro', 'Brasil', 'Copacabana', 'Rodrigo', 'Machado', '11987651234', 4, 'casal', 8, 3, 'casa própria', Decimal('500.00'), 10, 3, 30, Decimal('80.00'), datetime.time(14, 0), datetime.time(12, 0)),
 (26, 'Casa de Hobbit', 'Av. das Macieiras', 101, None, 'Campinas', 'São Paulo', 'Brasil', None, 'Victor', 'Amaral', '1976543210', 4, 'casal', 8, 3, 'chalé', Decimal('300.00'), 8, 1, 7, Decimal('60.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (27, 'Casa de Praiana', 'Av. da Brisa', 1021, None, 'Santos', 'São Paulo', 'Brasil', 'Centro', 'João', 'Buzzo', '1976542222', 4, 'casal', 8, 3, 'casa própria', Decimal('300.00'), 8, 1, 7, Decimal('60.00'), datetime.time(12, 0), datetime.time(12, 0)),
 (28, 'Apartamento Vista Boa', 'Av. das Moradias', 11, 'Apto 291', 'São Paulo', 'São Paulo', 'Brasil', 'Tatuapé', 'Leonardo', 'Ishida', '1976540009', 4, 'casal', 8, 3, 'apartamento', Decimal('300.00'), 8, 1, 7, Decimal('60.00'), datetime.time(12, 0), datetime.time(12, 0))]

### Quantas propriedades existem de cada classe

In [50]:
%%sql
SELECT tipo_hospedagem, COUNT(*)
    FROM Propriedade
    GROUP BY tipo_hospedagem

 * postgresql://postgres:***@localhost/airbnb_icmc
4 rows affected.

[('casa própria', 5),
 ('quarto individual', 2),
 ('chalé', 3),
 ('apartamento', 5)]

### Quantas propriedades existem de cada cidade

In [10]:
%%sql
SELECT L.cidade, COUNT(P.id)
    FROM Propriedade P RIGHT OUTER JOIN
        Localizacao L ON (P.cidade, P.estado, P.pais) = (L.cidade, L.estado, L.pais)
    GROUP BY L.cidade
    ORDER BY COUNT(P.id) DESC,
             L.cidade ASC
    LIMIT 15;

 * postgresql://postgres:***@localhost/airbnb_icmc
15 rows affected.

[('Santos', 3),
 ('Rio de Janeiro', 2),
 ('São Paulo', 2),
 ('Belo Horizonte', 1),
 ('Campinas', 1),
 ('Fortaleza', 1),
 ('Los Angeles', 1),
 ('Miami', 1),
 ('Porto Alegre', 1),
 ('Recife', 1),
 ('São José dos Paraiabas', 1),
 ('Boston', 0),
 ('Brasília', 0),
 ('Chicago', 0),
 ('Curitiba', 0)]

## Exercício 6

In [52]:
%%sql
SELECT 
     L.id as id_locacao,
     P.id as id_prop,
     R.nome_locatario as nome_loc, R.sobrenome_locatario as sobrenome_loc, R.num_tel_locatario as num_tel_loc,
     data_check_out - data_check_in as dias_locados,
     P.preco_noite as preco_diaria
FROM 
     Reservar as R JOIN
     Locacao as L ON (R.id_locacao = L.id) JOIN
     Propriedade as P ON (R.id_prop = P.id)
WHERE
    R.confirmacao = TRUE and
    L.data_check_in - '2024-04-01' > 0;

 * postgresql://postgres:***@localhost/airbnb_icmc
3 rows affected.

[(1, 21, 'Lucas', 'Silva', '11987654321', 5, Decimal('100.00')),
 (3, 25, 'Camila', 'Costa', '11987651234', 5, Decimal('500.00')),
 (13, 27, 'Paula', 'Sousa', '1135678901', 1, Decimal('300.00'))]

## Exercício 7

## Exercício 8

In [6]:
%%sql                                                      
SELECT 
    P.nome_dono,
    U.cidade,
    numero_prop,
    CB.num_conta,
    COUNT(CB.num_conta) as quant_locacoes
FROM 
    Reservar as R 
    JOIN 
        Propriedade as P 
        ON (R.id_prop = P.id) 
    JOIN (
        SELECT 
            P.nome_dono,
            P.sobrenome_dono,
            P.num_tel_dono,
            COUNT(*) as numero_prop
        FROM 
            Propriedade as P
        GROUP BY 
            P.nome_dono,
            P.sobrenome_dono,
            P.num_tel_dono
    ) as quant_propriedades 
        Using (nome_dono, sobrenome_dono, num_tel_dono) 
    JOIN
        Usuario as U 
        ON (P.nome_dono, P.sobrenome_dono, P.num_tel_dono) = 
            (U.nome, U.sobrenome, U.num_tel)
    JOIN 
        Conta_bancaria as CB 
            ON (P.nome_dono, P.sobrenome_dono, P.num_tel_dono) =
                (CB.nome_dono, CB.sobrenome_dono, CB.num_tel_dono)
GROUP BY 
    P.nome_dono,
    numero_prop,
    U.cidade,
    CB.num_conta
HAVING 
    COUNT(CB.num_conta) >= 3;

 * postgresql://postgres:***@localhost/airbnb_icmc
2 rows affected.

[('Marcos', 'Belo Horizonte', 2, '987654321', 3),
 ('Rodrigo', 'São José dos Campos', 3, '888888888', 3)]

## Exercício 9

In [57]:
%%sql
SELECT * 
FROM 
    Usuario
WHERE 
    tipo = 'locatário e proprietário'

 * postgresql://postgres:***@localhost/airbnb_icmc
3 rows affected.

[('Marcos', 'Oliveira', '1135678901', 'locatário e proprietário', 'Rua dos Coqueiros', 789, 'Bloco B', 'Belo Horizonte', 'Minas Gerais', 'Brasil', 'Centro', datetime.date(1980, 3, 25), 'M', 'marcos.oliveira@example.com', 'senha789'),
 ('Rodrigo', 'Machado', '11987651234', 'locatário e proprietário', 'Rua das Orquídeas', 666, None, 'São José dos Campos', 'São Paulo', 'Brasil', 'Vila Ema', datetime.date(1983, 1, 30), 'M', 'rodrigo.machado@example.com', 'senha6666'),
 ('Gustavo', 'Oliveira', '11987651234', 'locatário e proprietário', 'Rua das Orquídeas', 666, None, 'São José dos Campos', 'São Paulo', 'Brasil', 'Vila Ema', datetime.date(1983, 1, 30), 'M', 'gustavo.oliveira@example.com', 'senha1111')]

## Exercício 10