## Importando as bibliotecas e conectando na base de dados

In [1]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [2]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc

## Exercício 5

### Mostrar a relação inteira

In [4]:
%%sql
SELECT *
FROM Propriedade

 * postgresql://postgres:***@localhost/airbnb_icmc
12 rows affected.

[(21, 'Cozy Apartment', 'Sunset Blvd', 123, 'Apt 301', 'Los Angeles', 'California', 'Estados Unidos', 'Hollywood Hills', 2, 1, 'solteiro', 1, 1, 'apartamento', Decimal('100.00'), 1, 1, 7, Decimal('20.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (22, 'Beachfront Villa', 'Ocean Drive', 456, None, 'Miami', 'Florida', 'Estados Unidos', 'South Beach', 3, 3, 'casal', 6, 2, 'casa própria', Decimal('350.00'), 8, 2, 14, Decimal('60.00'), datetime.time(16, 0), datetime.time(10, 0)),
 (25, 'Beach House', 'Beach Road', 111, None, 'Rio de Janeiro', 'Rio de Janeiro', 'Brasil', 'Copacabana', 9, 4, 'casal', 8, 3, 'casa própria', Decimal('500.00'), 10, 3, 30, Decimal('80.00'), datetime.time(14, 0), datetime.time(12, 0)),
 (1, 'Apartamento Aconchegante', 'Rua das Flores', 123, 'Apt 101', 'São Paulo', 'São Paulo', 'Brasil', 'Centro', 10, 2, 'casal', 4, 2, 'apartamento', Decimal('200.00'), 4, 1, 7, Decimal('30.00'), datetime.time(14, 0), datetime.time(11, 0)),
 (2, 'Casa na Praia', 'Av. Principal', 456, None, 'Rio de Janeiro', 'Rio de Janeiro', 'Brasil', 'Copacabana', 13, 3, 'casal', 6, 2, 'casa própria', Decimal('300.00'), 6, 2, 14, Decimal('40.00'), datetime.time(15, 0), datetime.time(10, 0)),
 (3, 'Chalé Charmoso', 'Rua dos Coqueiros', 789, 'Casa de Hóspedes', 'Belo Horizonte', 'Minas Gerais', 'Brasil', 'Centro', 14, 1, 'solteiro', 2, 1, 'quarto individual', Decimal('100.00'), 2, 1, 7, Decimal('20.00'), datetime.time(16, 0), datetime.time(12, 0)),
 (4, 'Casa de Campo', 'Rua das Palmeiras', 1011, None, 'Porto Alegre', 'Rio Grande do Sul', 'Brasil', 'Jardim Botânico', 3, 4, 'casal', 8, 3, 'chalé', Decimal('400.00'), 8, 2, 21, Decimal('60.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (5, 'Apartamento Moderno', 'Av. dos Pinheiros', 222, 'Apt 202', 'Santos', 'São Paulo', 'Brasil', 'Ponta da Praia', 6, 2, 'casal', 4, 2, 'apartamento', Decimal('250.00'), 4, 2, 14, Decimal('50.00'), datetime.time(14, 0), datetime.time(11, 0)),
 (17, 'Casa na Praia Bonita', 'Rua dos Coqueiros', 123, None, 'Fortaleza', 'Ceará', 'Brasil', 'Praia de Iracema', 6, 3, 'casal', 6, 2, 'casa própria', Decimal('300.00'), 6, 2, 14, Decimal('40.00'), datetime.time(15, 0), datetime.time(11, 0)),
 (18, 'Apartamento Monstruoso', 'Av. das Flores', 456, 'Apt 202', 'Recife', 'Pernambuco', 'Brasil', 'Boa Viagem', 9, 2, 'casal', 4, 1, 'apartamento', Decimal('250.00'), 4, 1, 7, Decimal('30.00'), datetime.time(14, 0), datetime.time(10, 0)),
 (19, 'Chalé na Montanha', 'Rua das Palmeiras', 789, None, 'São José dos Campos', 'São Paulo', 'Brasil', 'Vila Ema', 9, 1, 'solteiro', 1, 1, 'quarto individual', Decimal('100.00'), 2, 1, 7, Decimal('20.00'), datetime.time(16, 0), datetime.time(12, 0)),
 (20, 'Casa de Campo Luxuosa', 'Av. das Acácias', 1011, 'Casa de Hóspedes', 'Santos', 'São Paulo', 'Brasil', 'Ponta da Praia', 6, 4, 'casal', 8, 3, 'chalé', Decimal('400.00'), 8, 2, 21, Decimal('60.00'), datetime.time(15, 0), datetime.time(11, 0))]

### Quantas propriedades existem de cada classe

In [5]:
%%sql
SELECT tipo_hospedagem, COUNT(*)
    FROM Propriedade
    GROUP BY tipo_hospedagem

 * postgresql://postgres:***@localhost/airbnb_icmc
4 rows affected.

[('chalé', 2),
 ('quarto individual', 2),
 ('apartamento', 4),
 ('casa própria', 4)]

### Quantas propriedades existem de cada cidade

In [22]:
%%sql
SELECT L.cidade, COUNT(P.id)
    FROM Propriedade P RIGHT OUTER JOIN
        Localizacao L ON (P.cidade, P.estado, P.pais) = (L.cidade, L.estado, L.pais)
    GROUP BY L.cidade
    ORDER BY COUNT(P.id) DESC,
             L.cidade ASC
    LIMIT 15;

 * postgresql://postgres:***@localhost/airbnb_icmc
15 rows affected.

[('Rio de Janeiro', 2),
 ('Santos', 2),
 ('Belo Horizonte', 1),
 ('Fortaleza', 1),
 ('Los Angeles', 1),
 ('Miami', 1),
 ('Porto Alegre', 1),
 ('Recife', 1),
 ('São José dos Campos', 1),
 ('São Paulo', 1),
 ('Boston', 0),
 ('Brasília', 0),
 ('Campinas', 0),
 ('Chicago', 0),
 ('Curitiba', 0)]

## Exercício 6

### Todos os atributos-chave da relação

In [26]:
%%sql
SELECT 
       L.id as id_locacao, 
       P.id as id_prop, P.nome as nome_prop, P.rua as rua_prop, P.numero as num_prop,
       U.id as id_loc, U.nome as nome_loc, U.sobrenome as sobrenome_loc, U.email as email_loc,
       Dono.nome as nome_anfitriao,
       data_check_out - data_check_in as dias_locados,
       P.preco_noite as preco_diaria
FROM 
     Locacao as L JOIN
     Reservar as R ON (L.id = R.id_locacao) JOIN
     Propriedade as P ON (R.id_prop = P.id) JOIN
     Usuario as U ON (R.id_locatario = U.id) JOIN
     Usuario as Dono ON (P.id_dono = Dono.id)
WHERE 
      R.confirmacao = TRUE and
      L.data_check_in - '2024-04-01' > 0;

 * postgresql://postgres:***@localhost/airbnb_icmc
2 rows affected.

[(1, 21, 'Cozy Apartment', 'Sunset Blvd', 123, 1, 'Lucas', 'Silva', 'lucas.silva@example.com', 'Carolina', 5, Decimal('100.00')),
 (3, 25, 'Beach House', 'Beach Road', 111, 4, 'Camila', 'Costa', 'camila.costa@example.com', 'Rodrigo', 5, Decimal('500.00'))]

In [5]:
%%sql
SELECT 
     L.id as id_locacao,
     P.id as id_prop,
     R.nome_locatario as nome_loc, R.sobrenome_locatario as sobrenome_loc, R.num_tel_locatario as num_tel_loc,
     data_check_out - data_check_in as dias_locados,
     P.preco_noite as preco_diaria
FROM 
     Reservar as R JOIN
     Locacao as L ON (R.id_locacao = L.id) JOIN
     Propriedade as P ON (R.id_prop = P.id)
WHERE
    R.confirmacao = TRUE and
    L.data_check_in - '2024-04-01' > 0;

 * postgresql://postgres:***@localhost/airbnb_icmc
3 rows affected.

[(1, 21, 'Lucas', 'Silva', '11987654321', 5, Decimal('100.00')),
 (3, 25, 'Camila', 'Costa', '11987651234', 5, Decimal('500.00')),
 (13, 27, 'Paula', 'Sousa', '1135678901', 1, Decimal('300.00'))]

## Exercício 7

## Exercício 8

In [32]:
%%sql
SELECT U.nome, U.cidade, P.id_dono, COUNT(L.id)
FROM Usuario as U JOIN
     Propriedade as P ON (U.id = P.id_dono) JOIN
     Reservar as R ON (R.id_prop = P.id) JOIN
     Locacao as L ON (R.id_locacao = L.id)
GROUP BY U.nome, U.cidade, P.id_dono
HAVING COUNT(L.id) >= 3

 * postgresql://postgres:***@localhost/airbnb_icmc
2 rows affected.

[('Marcos', 'Belo Horizonte', 3, 3), ('Rodrigo', 'São José dos Campos', 9, 3)]

## Exercício 9

In [ ]:
%%sql
SELECT * 
    FROM Usuario
    WHERE tipo = 'locatário e proprietário'

## Exercício 10