In [1]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

%load_ext sql

In [2]:
engine = create_engine('postgresql://postgres:pgadmin@localhost/postgres')
%sql postgresql://postgres:pgadmin@localhost/postgres

In [3]:
%config SqlMagic.autocommit=False

In [4]:
%%sql 
COMMIT;
DROP DATABASE IF EXISTS airbnb_icmc_2 WITH (FORCE);
COMMIT;
CREATE DATABASE airbnb_icmc_2
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.
Done.

[]

In [5]:
%config SqlMagic.autocommit=True

In [6]:
engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc_2')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc_2

In [7]:
%%sql
DROP TABLE IF EXISTS Usuario, Propriedade, Conta_bancaria, Localizacao, Comodidade, Regra, Pontos_de_interesse, Datas_disponiveis, Avaliar_agreg, Reservar_agreg, Valores_reserva, foto CASCADE;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.

[]

In [8]:
%%sql

CREATE TABLE Localizacao (
  cidade         VARCHAR(40),
  estado         VARCHAR(40),
  pais           VARCHAR(40),
  PRIMARY KEY (cidade, estado, pais)
);

CREATE TABLE Usuario (
  nome VARCHAR(50),
  sobrenome VARCHAR(50),
  num_tel VARCHAR(20),
  bairro VARCHAR(50) NOT NULL,
  cidade VARCHAR(50) NOT NULL,
  estado VARCHAR(50) NOT NULL,
  pais VARCHAR(50) NOT NULL,
  tipo VARCHAR(100) NOT NULL,
  rua VARCHAR(100) NOT NULL,
  numero INTEGER NOT NULL,
  complemento VARCHAR(100),
  dt_nasc DATE NOT NULL,
  sexo CHAR(1) NOT NULL,
  email VARCHAR(100) NOT NULL,
  senha VARCHAR(100) NOT NULL,
  PRIMARY KEY (nome, sobrenome, num_tel),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais)
);

CREATE TABLE Propriedade (
  ID INTEGER,
  nome VARCHAR(100) NOT NULL,
  rua VARCHAR(100) NOT NULL,
  numero INTEGER NOT NULL,
  nome_dono VARCHAR(50) NOT NULL,
  sobrenome_dono VARCHAR(50) NOT NULL,
  num_tel_dono VARCHAR(20) NOT NULL,
  cidade VARCHAR(50) NOT NULL,
  estado VARCHAR(50) NOT NULL,
  pais VARCHAR(50) NOT NULL,
  complemento VARCHAR(100),
  num_quartos INTEGER NOT NULL,
  tipo_quarto VARCHAR(50) NOT NULL,
  num_cama INTEGER NOT NULL,
  num_banheiros INTEGER NOT NULL,
  tipo_hospedagem VARCHAR(50) NOT NULL,
  preco_noite DECIMAL(10, 2) NOT NULL,
  num_max_hosp INTEGER NOT NULL,
  num_min_noites INTEGER NOT NULL,
  num_max_noites INTEGER NOT NULL,
  taxa_limpeza DECIMAL(10, 2),
  horario_check_in TIME,
  horario_check_out TIME,
  bairro VARCHAR(50) NOT NULL,
  PRIMARY KEY (ID),
  FOREIGN KEY (nome_dono, sobrenome_dono, num_tel_dono) REFERENCES Usuario (nome, sobrenome, num_tel),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais),
  CONSTRAINT unique_nome_rua_numero UNIQUE (nome, rua, numero)
);

CREATE TABLE Conta_Bancaria (
  num_conta VARCHAR(20),
  nome_dono VARCHAR(50),
  sobrenome_dono VARCHAR(50),
  num_tel_dono VARCHAR(20),
  num_roteamento VARCHAR(20) NOT NULL,
  tipo_conta VARCHAR(20) NOT NULL,
  PRIMARY KEY (num_conta, nome_dono, sobrenome_dono, num_tel_dono),
  FOREIGN KEY (nome_dono, sobrenome_dono, num_tel_dono) REFERENCES Usuario (nome, sobrenome, num_tel)
);

CREATE TABLE Comodidade (
  nome VARCHAR(100),
  ID_propriedade INTEGER,
  quantidade INTEGER,
  PRIMARY KEY (nome, ID_propriedade),
  FOREIGN KEY (ID_propriedade) REFERENCES Propriedade (ID)
);

CREATE TABLE Regra (
  nome VARCHAR(100),
  ID_propriedade INTEGER,
  descricao TEXT,
  PRIMARY KEY (nome, ID_propriedade),
  FOREIGN KEY (ID_propriedade) REFERENCES Propriedade (ID)
);

CREATE TABLE Pontos_de_interesse (
  nome VARCHAR(100),
  cidade VARCHAR(50),
  estado VARCHAR(50),
  pais VARCHAR(50),
  preco DECIMAL(10, 2),
  horario_funcionamento TEXT,
  PRIMARY KEY (nome, cidade, estado, pais),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais)
);

CREATE TABLE Datas_disponiveis (
  data DATE,
  ID_propriedade INTEGER,
  PRIMARY KEY (data, ID_propriedade),
  FOREIGN KEY (ID_propriedade) REFERENCES Propriedade (ID)
);

CREATE TABLE Avaliar_agreg (
  nome_locatario VARCHAR(50),
  sobrenome_locatario VARCHAR(50),
  num_tel_locatario VARCHAR(20),
  ID_prop INTEGER,
  horario_mensagem TIMESTAMP,
  mensagem TEXT,
  nota_limpeza INTEGER,
  nota_comunicacao INTEGER,
  nota_localizacao INTEGER,
  nota_valor INTEGER,
  PRIMARY KEY (nome_locatario, sobrenome_locatario, num_tel_locatario, ID_prop, horario_mensagem),
  FOREIGN KEY (nome_locatario, sobrenome_locatario, num_tel_locatario) REFERENCES Usuario (nome, sobrenome, num_tel),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID)
);

CREATE TABLE Valores_reserva (
  ID_prop INTEGER,
  data_check_in DATE,
  data_check_out DATE,
  valor DECIMAL(10, 2) NOT NULL,
  imposto DECIMAL(10, 2),
  taxa_limpeza DECIMAL(10, 2),
  codigo_promocao VARCHAR(50),
  desconto DECIMAL(10, 2),
  PRIMARY KEY (ID_prop, data_check_in, data_check_out),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID)
);

CREATE TABLE Reservar_agreg (
  nome_locatario VARCHAR(50),
  sobrenome_locatario VARCHAR(50),
  num_tel_locatario VARCHAR(50),
  ID_prop INTEGER,
  data_check_in DATE,
  data_check_out DATE,
  num_hospedes INTEGER NOT NULL,
  data_reserva TIMESTAMP NOT NULL,
  confirmacao BOOLEAN NOT NULL,
  PRIMARY KEY (nome_locatario, sobrenome_locatario, num_tel_locatario, ID_prop, data_check_in, data_check_out),
  FOREIGN KEY (nome_locatario, sobrenome_locatario, num_tel_locatario) REFERENCES Usuario (nome, sobrenome, num_tel),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID),
  FOREIGN KEY (ID_prop, data_check_in, data_check_out) REFERENCES Valores_reserva (ID_prop, data_check_in, data_check_out)
);

CREATE TABLE Foto (
  ID_foto INTEGER,
  nome_locatario VARCHAR(50),
  sobrenome_locatario VARCHAR(50),
  num_tel_locatario VARCHAR(20),
  ID_prop INTEGER,
  horario_mensagem TIMESTAMP,
  foto TEXT NOT NULL,
  PRIMARY KEY (ID_foto, nome_locatario, sobrenome_locatario, num_tel_locatario, ID_prop, horario_mensagem),
  FOREIGN KEY (nome_locatario, sobrenome_locatario, num_tel_locatario) REFERENCES Usuario (nome, sobrenome, num_tel),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID)
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]