## Importando as bibliotecas e conectando na base de dados

In [11]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [12]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc_2')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc_2

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Exercício 6

### Mostre a estrutura da relação, mostrando os atributos de 10 tuplas aleatoriamente;

In [13]:
%%sql

SELECT *
FROM Propriedade
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
10 rows affected.

[(17878, 'Condo in Rio de Janeiro · ★4.70 · 2 bedrooms · 2 beds · 1 bath', None, None, 68997, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 2, '1 bath', 'Entire condo', '1357.00', None, 5, 28, None, None, None, 'Copacabana'),
 (25026, 'Rental unit in Rio de Janeiro · ★4.72 · 1 bedroom · 1 bed · 1 bath', None, None, 102840, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire rental unit', '865.00', None, 2, 60, None, None, None, 'Copacabana'),
 (35764, 'Loft in Rio de Janeiro · ★4.90 · 1 bedroom · 1 bed · 1.5 baths', None, None, 153691, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 1, '1.5 baths', 'Entire loft', '373.00', None, 3, 15, None, None, None, 'Copacabana'),
 (41198, 'Rental unit in Rio de Janeiro · ★4.21 · 2 bedrooms · 1 bath', None, None, 178975, None, None, None, None, None, 'Entire home/apt', None, '1 bath', 'Entire rental unit', '1701.00', None, 3, 365, None, None, None, 'Copacabana'),
 (326205, 'Condo in Rio de Janeiro · ★4.57 · 1 bedroom · 1 bed · 1 bath', None, None, 1603206, None, None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire condo', '366.00', None, 3, 180, None, None, None, 'Copacabana'),
 (326575, 'Rental unit in Rio de Janeiro · ★4.81 · 2 bedrooms · 3 beds · 2 baths', None, None, 1668565, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 3, '2 baths', 'Entire rental unit', '368.00', None, 4, 60, None, None, None, 'Copacabana'),
 (216461, 'Rental unit in Rio de Janeiro · 1 bedroom · 1 bed · 1 bath', None, None, 1154263, None, None, None, None, None, 'Private room', 1, '1 bath', 'Private room in rental unit', '734.00', None, 1, 760, None, None, None, 'Flamengo'),
 (48305, 'Rental unit in Ipanema · ★4.76 · 6 bedrooms · 7 beds · 7 baths', None, None, 70933, 'Ipanema, Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 7, '7 baths', 'Entire rental unit', '6604.00', None, 2, 89, None, None, None, 'Ipanema'),
 (216700, 'Rental unit in Rio de Janeiro · ★4.96 · 1 bedroom · 1 bed · 1 shared bath', None, None, 1118486, 'Rio de Janeiro, Brazil', None, None, None, None, 'Private room', 1, '1 shared bath', 'Private room in rental unit', '300.00', None, 3, 30, None, None, None, 'Laranjeiras'),
 (219250, 'Loft in Rio de Janeiro · ★4.82 · 1 bedroom · 2 beds · 1 bath', None, None, 1134264, None, None, None, None, None, 'Entire home/apt', 2, '1 bath', 'Entire loft', '254.00', None, 2, 30, None, None, None, 'Santa Teresa')]

In [14]:
%%sql

SELECT *
FROM Propriedade
ORDER BY RANDOM()
LIMIT 10;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
10 rows affected.

[(41799914, 'Home in Barra de Guaratiba · ★4.75 · 2 bedrooms · 8 beds · 2 baths', None, None, 15737713, 'Barra de Guaratiba, Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 8, '2 baths', 'Entire home', '893.00', None, 2, 1125, None, None, None, 'Barra de Guaratiba'),
 (776846885645357447, 'Rental unit in Rio de Janeiro · 1 bedroom · 2 beds · 1 bath', None, None, 21931975, None, None, None, None, None, 'Entire home/apt', 2, '1 bath', 'Entire rental unit', '900.00', None, 5, 25, None, None, None, 'Ipanema'),
 (2291402, 'Rental unit in Rio · ★4.70 · 1 bedroom · 4 beds · 1.5 baths', None, None, 9232145, 'Rio, Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 4, '1.5 baths', 'Entire rental unit', '1071.00', None, 5, 1125, None, None, None, 'Ipanema'),
 (1993556, 'Rental unit in Rio de Janeiro · ★5.0 · 3 bedrooms · 5 beds · 4 baths', None, None, 6403989, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 5, '4 baths', 'Entire rental unit', '3200.00', None, 2, 1125, None, None, None, 'Copacabana'),
 (54012312, 'Rental unit in Curicica · ★4.77 · 1 bedroom · 1 bed · 1 bath', None, None, 309591724, None, None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire rental unit', '354.00', None, 1, 365, None, None, None, 'Jacarepaguá'),
 (568062043474639403, 'Home in São Conrado · ★4.50 · 5 bedrooms · 5 beds · 6 baths', None, None, 439098136, None, None, None, None, None, 'Entire home/apt', 5, '6 baths', 'Entire home', '9429.00', None, 2, 365, None, None, None, 'São Conrado'),
 (675035, 'Rental unit in Rio de Janeiro · ★4.83 · 1 bedroom · 1 bed · 1 bath', None, None, 2448303, None, None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire rental unit', '391.00', None, 1, 7, None, None, None, 'Botafogo'),
 (53800433, 'Rental unit in Copacabana · ★4.86 · 1 bedroom · 2 beds · 1 bath', None, None, 224711272, None, None, None, None, None, 'Entire home/apt', 2, '1 bath', 'Entire rental unit', '696.00', None, 2, 15, None, None, None, 'Copacabana'),
 (1940226, 'Rental unit in Rio de Janeiro · ★4.68 · 1 bedroom · 1 bed · 1 private bath', None, None, 10035825, 'Rio de Janeiro, Brazil', None, None, None, None, 'Private room', 1, '1 private bath', 'Private room in rental unit', '441.00', None, 3, 30, None, None, None, 'Copacabana'),
 (51689549, 'Condo in Copacabana · 3 bedrooms · 3 beds · 1 private bath', None, None, 94520357, 'Copacabana, Rio de Janeiro, Brazil', None, None, None, None, 'Private room', 3, '1 private bath', 'Private room in condo', '210.00', None, 3, 1125, None, None, None, 'Copacabana')]

### Mostre quantas Propriedades existem de cada classe (casa inteira, etc.);

In [15]:
%%sql

SELECT 
    tipo_hospedagem, 
    COUNT(*) AS quantidade
FROM 
    Propriedade
GROUP BY 
    tipo_hospedagem
ORDER BY 
    quantidade DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
10 rows affected.

[('Entire rental unit', 22614),
 ('Private room in rental unit', 4154),
 ('Entire condo', 1907),
 ('Entire home', 1667),
 ('Private room in home', 1226),
 ('Entire serviced apartment', 843),
 ('Entire loft', 771),
 ('Private room in condo', 405),
 ('Room in hotel', 283),
 ('Private room in bed and breakfast', 270)]

### Mostre quantas localizações existem na base

In [16]:
%%sql

SELECT COUNT(*) as numero_de_localizacoes
FROM (
  SELECT DISTINCT bairro
  FROM Propriedade
) as localizacoes_distintas
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
1 rows affected.

[(156,)]

## Exercício 7

#### Comando da visão que mostra as propriedades disponíveis para a locação em 2024

In [22]:
%%sql

CREATE OR REPLACE VIEW PropriedadesDisponiveis as
SELECT DISTINCT
    Propriedade_2024.*
FROM 
    Propriedade as Propriedade_2024
JOIN 
    Datas_disponiveis as D ON Propriedade_2024.ID = D.ID_propriedade
WHERE 
    EXTRACT(YEAR FROM D.data) = 2024
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
Done.

[]

### Mostre preço por noite médio de todas as propriedades disponíveis para a locação em cada um dos meses de 2024.

In [23]:
%%sql

SELECT 
    TO_CHAR(D.data, 'MM')::INTEGER AS mes,
    ROUND(AVG(CAST(P.preco_noite AS NUMERIC)), 2) as preco_medio
FROM
    PropriedadesDisponiveis AS P
JOIN 
    Datas_disponiveis AS D ON P.ID = D.ID_propriedade
GROUP BY  
    TO_CHAR(D.data, 'MM')::INTEGER
ORDER BY
    mes
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
10 rows affected.

[(1, Decimal('3031.43')),
 (2, Decimal('2659.84')),
 (3, Decimal('2518.58')),
 (4, Decimal('2244.00')),
 (5, Decimal('2128.80')),
 (6, Decimal('2215.90')),
 (7, Decimal('2292.96')),
 (8, Decimal('2373.50')),
 (9, Decimal('2495.50')),
 (10, Decimal('2952.33'))]

## Exercício 8

### Mostre os anfitriões que tiveram pelo menos 3 imóveis, trazendo seu nome, sua cidade e a quantidade de imóveis dos quais ele é dono.

In [24]:
%%sql

SELECT 
    U.nome as nome_anfitriao,
    U.cidade,
    COUNT(P.ID) as quantidade_imoveis
FROM 
    Usuario as U
JOIN 
    Propriedade as P ON U.id = P.id_dono
GROUP BY 
    U.id, U.nome, U.cidade
HAVING 
    COUNT(P.ID) >= 3
ORDER BY 
    quantidade_imoveis DESC
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
10 rows affected.

[('Omar Do Rio', 'Rio de Janeiro', 185),
 ('Daniel', 'Rio de Janeiro', 157),
 ('Tabas', 'São Paulo', 145),
 ('Renato', 'Rio de Janeiro', 142),
 ('Estadia', 'Rio de Janeiro', 142),
 ('Pineapples', 'Rio de Janeiro', 128),
 ('Aroldo', 'Rio de Janeiro', 85),
 ('Mozart', 'Rio de Janeiro', 80),
 ('Yes Temporada', 'Rio de Janeiro', 77),
 ('Giovanni', 'Rio de Janeiro', 69)]

### Crie um  índice que agilize a execução da consulta.

In [28]:
%%sql
CREATE INDEX IF NOT EXISTS idx_propriedade_id_dono ON Propriedade (id_dono);

SELECT 
    U.nome AS nome_anfitriao,
    U.cidade,
    COUNT(P.ID) AS quantidade_imoveis
FROM 
    Usuario AS U
JOIN 
    Propriedade AS P ON U.id = P.id_dono
GROUP BY 
    U.id, U.nome, U.cidade
HAVING 
    COUNT(P.ID) >= 3
ORDER BY 
    quantidade_imoveis DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
Done.
10 rows affected.

[('Omar Do Rio', 'Rio de Janeiro', 185),
 ('Daniel', 'Rio de Janeiro', 157),
 ('Tabas', 'São Paulo', 145),
 ('Renato', 'Rio de Janeiro', 142),
 ('Estadia', 'Rio de Janeiro', 142),
 ('Pineapples', 'Rio de Janeiro', 128),
 ('Aroldo', 'Rio de Janeiro', 85),
 ('Mozart', 'Rio de Janeiro', 80),
 ('Yes Temporada', 'Rio de Janeiro', 77),
 ('Giovanni', 'Rio de Janeiro', 69)]