## Importando as bibliotecas e conectando na base de dados

In [1]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [2]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc_2')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc_2

## Exercício 6

### Mostre a estrutura da relação, mostrando os atributos de 10 tuplas aleatoriamente;

In [3]:
%%sql

SELECT *
FROM Propriedade
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
10 rows affected.

[(17878, 'Condo in Rio de Janeiro · ★4.70 · 2 bedrooms · 2 beds · 1 bath', None, None, 68997, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 2, '1 bath', 'Entire condo', '1357.00', None, 5, 28, None, None, None, 'Copacabana'),
 (25026, 'Rental unit in Rio de Janeiro · ★4.72 · 1 bedroom · 1 bed · 1 bath', None, None, 102840, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire rental unit', '865.00', None, 2, 60, None, None, None, 'Copacabana'),
 (35764, 'Loft in Rio de Janeiro · ★4.90 · 1 bedroom · 1 bed · 1.5 baths', None, None, 153691, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 1, '1.5 baths', 'Entire loft', '373.00', None, 3, 15, None, None, None, 'Copacabana'),
 (41198, 'Rental unit in Rio de Janeiro · ★4.21 · 2 bedrooms · 1 bath', None, None, 178975, None, None, None, None, None, 'Entire home/apt', None, '1 bath', 'Entire rental unit', '1701.00', None, 3, 365, None, None, None, 'Copacabana'),
 (326205, 'Condo in Rio de Janeiro · ★4.57 · 1 bedroom · 1 bed · 1 bath', None, None, 1603206, None, None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire condo', '366.00', None, 3, 180, None, None, None, 'Copacabana'),
 (326575, 'Rental unit in Rio de Janeiro · ★4.81 · 2 bedrooms · 3 beds · 2 baths', None, None, 1668565, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 3, '2 baths', 'Entire rental unit', '368.00', None, 4, 60, None, None, None, 'Copacabana'),
 (216461, 'Rental unit in Rio de Janeiro · 1 bedroom · 1 bed · 1 bath', None, None, 1154263, None, None, None, None, None, 'Private room', 1, '1 bath', 'Private room in rental unit', '734.00', None, 1, 760, None, None, None, 'Flamengo'),
 (48305, 'Rental unit in Ipanema · ★4.76 · 6 bedrooms · 7 beds · 7 baths', None, None, 70933, 'Ipanema, Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 7, '7 baths', 'Entire rental unit', '6604.00', None, 2, 89, None, None, None, 'Ipanema'),
 (216700, 'Rental unit in Rio de Janeiro · ★4.96 · 1 bedroom · 1 bed · 1 shared bath', None, None, 1118486, 'Rio de Janeiro, Brazil', None, None, None, None, 'Private room', 1, '1 shared bath', 'Private room in rental unit', '300.00', None, 3, 30, None, None, None, 'Laranjeiras'),
 (219250, 'Loft in Rio de Janeiro · ★4.82 · 1 bedroom · 2 beds · 1 bath', None, None, 1134264, None, None, None, None, None, 'Entire home/apt', 2, '1 bath', 'Entire loft', '254.00', None, 2, 30, None, None, None, 'Santa Teresa')]

In [4]:
%%sql

SELECT *
FROM Propriedade
ORDER BY RANDOM()
LIMIT 10;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
10 rows affected.

[(994137862204796454, 'Rental unit in Rio de Janeiro · 1 bedroom · 3 beds · 1 bath', None, None, 401842074, None, None, None, None, None, 'Entire home/apt', 3, '1 bath', 'Entire rental unit', '1000.00', None, 2, 30, None, None, None, 'Barra da Tijuca'),
 (1024634297570265985, 'Rental unit in Rio de Janeiro · ★4.0 · 1 bedroom · 1 bed · 1 bath', None, None, 4255118, None, None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire rental unit', '550.00', None, 4, 365, None, None, None, 'Copacabana'),
 (706438130986393282, 'Condo in Rio de Janeiro · 2 bedrooms · 2 beds · 2 baths', None, None, 243116246, None, None, None, None, None, 'Entire home/apt', 2, '2 baths', 'Entire condo', '2200.00', None, 2, 7, None, None, None, 'Jacarepaguá'),
 (14980313, 'Rental unit in Rio de Janeiro · ★5.0 · 1 bedroom · 1 bed · 1 private bath', None, None, 94392845, 'Rio de Janeiro, Brazil', None, None, None, None, 'Private room', 1, '1 private bath', 'Private room in rental unit', '400.00', None, 1, 5, None, None, None, 'Jacarepaguá'),
 (11843735, 'Condo in Rio de Janeiro · ★4.74 · 1 bedroom · 2 beds · 1 bath', None, None, 54359187, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 2, '1 bath', 'Entire condo', '800.00', None, 3, 60, None, None, None, 'Recreio dos Bandeirantes'),
 (761625373204715876, 'Rental unit in Rio de Janeiro · ★3.71 · 1 bedroom · 2 beds · 1 bath', None, None, 348039971, None, None, None, None, None, 'Entire home/apt', 2, '1 bath', 'Entire rental unit', '1014.00', None, 4, 7, None, None, None, 'Ipanema'),
 (884143200831773956, 'Rental unit in Rio de Janeiro · ★New · 1 bedroom · 1 bed · 1 bath', None, None, 379461533, None, None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire rental unit', '720.00', None, 2, 365, None, None, None, 'Ipanema'),
 (47170656, 'Rental unit in Copacabana · 2 bedrooms · 1 bed · 2 baths', None, None, 62193848, 'Copacabana, Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 1, '2 baths', 'Entire rental unit', None, None, 1000, 1000, None, None, None, 'Copacabana'),
 (760769049113029551, 'Rental unit in Rio de Janeiro · 2 bedrooms · 2 beds · 1.5 baths', None, None, 487823514, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 2, '1.5 baths', 'Entire rental unit', '736.00', None, 3, 1125, None, None, None, 'Copacabana'),
 (38266134, 'Rental unit in Jacarepaguá · ★4.88 · 2 bedrooms · 4 beds · 2 baths', None, None, 31484232, None, None, None, None, None, 'Entire home/apt', 4, '2 baths', 'Entire rental unit', '536.00', None, 2, 1125, None, None, None, 'Jacarepaguá')]

### Mostre quantas Propriedades existem de cada classe (casa inteira, etc.);

In [5]:
%%sql

SELECT tipo_hospedagem, COUNT(*)
    FROM Propriedade
    GROUP BY tipo_hospedagem
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
10 rows affected.

[('Private room in cottage', 2),
 ('Entire bed and breakfast', 1),
 ('Private room in boat', 2),
 ('Private room in cabin', 1),
 ('Private room in tiny home', 5),
 ('Private room in hostel', 30),
 ('Private room in townhouse', 43),
 ('Entire townhouse', 22),
 ('Entire vacation home', 45),
 ('Private room in serviced apartment', 83)]

### Mostre quantas localizações existem na base

In [6]:
%%sql

SELECT COUNT(*) as numero_de_localizacoes
FROM (
  SELECT DISTINCT bairro
  FROM Propriedade
) as localizacoes_distintas
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
1 rows affected.

[(156,)]

## Exercício 7

#### Comando da visão que mostra as propriedades disponíveis para a locação em 2024

In [7]:
%%sql

CREATE VIEW PropriedadesDisponiveis as
SELECT DISTINCT
    Propriedade_2024.*
FROM 
    Propriedade as Propriedade_2024
JOIN 
    Datas_disponiveis as D ON Propriedade_2024.ID = D.ID_propriedade
WHERE 
    EXTRACT(YEAR FROM D.data) = 2024
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
Done.

[]

### Mostre preço por noite médio de todas as propriedades disponíveis para a locação em cada um dos meses de 2024.

In [8]:
%%sql

SELECT 
    TO_CHAR(D.data, 'MM')::INTEGER AS mes,
    ROUND(AVG(CAST(P.preco_noite AS NUMERIC)), 2) as preco_medio
FROM
    PropriedadesDisponiveis AS P
JOIN 
    Datas_disponiveis AS D ON P.ID = D.ID_propriedade
GROUP BY  
    TO_CHAR(D.data, 'MM')::INTEGER
ORDER BY
    mes
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2

10 rows affected.

[(1, Decimal('3031.43')),
 (2, Decimal('2659.84')),
 (3, Decimal('2518.58')),
 (4, Decimal('2244.00')),
 (5, Decimal('2128.80')),
 (6, Decimal('2215.90')),
 (7, Decimal('2292.96')),
 (8, Decimal('2373.50')),
 (9, Decimal('2495.50')),
 (10, Decimal('2952.33'))]

## Exercício 8

### Mostre os anfitriões que tiveram pelo menos 3 imóveis, trazendo seu nome, sua cidade e a quantidade de imóveis dos quais ele é dono.

In [9]:
%%sql

SELECT 
    U.nome as nome_anfitriao,
    U.cidade,
    COUNT(P.ID) as quantidade_imoveis
FROM 
    Usuario as U
JOIN 
    Propriedade as P ON U.id = P.id_dono
GROUP BY 
    U.id, U.nome, U.cidade
HAVING 
    COUNT(P.ID) >= 3
ORDER BY 
    quantidade_imoveis DESC
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
10 rows affected.

[('Omar Do Rio', 'Rio de Janeiro', 185),
 ('Daniel', 'Rio de Janeiro', 157),
 ('Tabas', 'São Paulo', 145),
 ('Renato', 'Rio de Janeiro', 142),
 ('Estadia', 'Rio de Janeiro', 142),
 ('Pineapples', 'Rio de Janeiro', 128),
 ('Aroldo', 'Rio de Janeiro', 85),
 ('Mozart', 'Rio de Janeiro', 80),
 ('Yes Temporada', 'Rio de Janeiro', 77),
 ('Giovanni', 'Rio de Janeiro', 69)]

### Crie um  índice que agilize a execução da consulta.

In [10]:
%%sql
CREATE INDEX idx_propriedade_id_dono ON Propriedade (id_dono);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
Done.

[]