## Importando as bibliotecas e conectando na base de dados

In [12]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [13]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc_2')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc_2

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Exercício 6

### Mostre a estrutura da relação, mostrando os atributos de 10 tuplas aleatoriamente;

In [14]:
%%sql

SELECT *
FROM Propriedade
ORDER BY RANDOM()
LIMIT 10;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
0 rows affected.

[]

### Mostre quantas Propriedades existem de cada classe (casa inteira, etc.);

In [9]:
%%sql

SELECT tipo_hospedagem, COUNT(*)
    FROM Propriedade
    GROUP BY tipo_hospedagem

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
0 rows affected.

[]

### Mostre quantas localizações existem na base

In [ ]:
%%sql

SELECT COUNT(*) as numero_de_localizacoes
FROM (
  SELECT DISTINCT bairro
  FROM Propriedade
) as localizacoes_distintas;

## Exercício 7

#### Comando da visão que mostra as propriedades disponíveis para a locação em 2024

In [11]:
%%sql

CREATE VIEW PropriedadesDisponiveis as
SELECT DISTINCT
    Propriedade_2024.*
FROM 
    Propriedade as Propriedade_2024
JOIN 
    Datas_disponiveis as D ON Propriedade_2024.ID = D.ID_propriedade
WHERE 
    EXTRACT(YEAR FROM D.data) = 2024;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.

[]

### Mostre preço por noite médio de todas as propriedades disponíveis para a locação em cada um dos meses de 2024.

In [ ]:
%%sql

SELECT 
    TO_CHAR(R.data_check_in, 'MM')::INTEGER AS mes,
    ROUND(AVG (P.preco_noite), 2) as preco_medio
FROM
    PropriedadesDisponiveis as P
JOIN 
    Datas_disponiveis as D 
    ON P.ID = D.ID_prop
GROUP BY  
    EXTRACT(MONTH FROM R.data_check_in)
ORDER BY
    mes;

## Exercício 8

### Mostre os anfitriões que tiveram pelo menos 3 imóveis, trazendo seu nome, sua cidade e a quantidade de imóveis dos quais ele é dono.

In [ ]:
%%sql

SELECT 
    U.nome as nome_anfitriao,
    U.cidade,
    COUNT(P.ID) as quantidade_imoveis
FROM 
    Usuario as U
JOIN 
    Propriedade as P ON U.id = P.id_dono
GROUP BY 
    U.id, U.nome, U.cidade
HAVING 
    COUNT(P.ID) >= 3
ORDER BY 
    quantidade_imoveis DESC;

### Crie um  índice que agilize a execução da consulta.

In [ ]:
%%sql
CREATE INDEX idx_propriedade_id_dono ON Propriedade (id_dono);