In [1]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

%load_ext sql

In [2]:
engine = create_engine('postgresql://postgres:pgadmin@localhost/postgres')
%sql postgresql://postgres:pgadmin@localhost/postgres

In [3]:
%config SqlMagic.autocommit=False

In [4]:
%%sql 
COMMIT;
DROP DATABASE IF EXISTS airbnb_icmc_2 WITH (FORCE);
COMMIT;
CREATE DATABASE airbnb_icmc_2
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.
Done.

[]

In [5]:
%config SqlMagic.autocommit=True

In [6]:
engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc_2')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc_2

In [7]:
%%sql
DROP TABLE IF EXISTS Listings, Reviews, Calendar CASCADE;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.

[]

# Inserindo dados nas tabelas do airbnb

In [8]:
%%sql
DROP TYPE IF EXISTS bool_sigla CASCADE;
CREATE TYPE bool_sigla AS ENUM {'t', 'f'}

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [9]:
%%sql
DROP TABLE IF EXISTS Listings CASCADE;
CREATE TABLE Listings (
    id BIGINT PRIMARY KEY,
    listing_url TEXT,
    scrape_id BIGINT,
    last_scraped DATE,
    source TEXT,
    name TEXT,
    description TEXT,
    neighborhood_overview TEXT,
    picture_url TEXT,
    host_id BIGINT,
    host_url TEXT,
    host_name TEXT,
    host_since DATE,
    host_location TEXT,
    host_about TEXT,
    host_response_time TEXT,
    host_response_rate TEXT,
    host_acceptance_rate TEXT,
    host_is_superhost bool_sigla,
    host_thumbnail_url TEXT,
    host_picture_url TEXT,
    host_neighbourhood TEXT,
    host_listings_count INT,
    host_total_listings_count INT,
    host_verifications TEXT,
    host_has_profile_pic BOOLEAN,
    host_identity_verified BOOLEAN,
    neighbourhood TEXT,
    neighbourhood_cleansed TEXT,
    neighbourhood_group_cleansed TEXT,
    latitude DOUBLE PRECISION,
    longitude DOUBLE PRECISION,
    property_type TEXT,
    room_type TEXT,
    accommodates INT,
    bathrooms INT,
    bathrooms_text TEXT,
    bedrooms INT,
    beds INT,
    amenities TEXT,
    price TEXT,
    minimum_nights INT,
    maximum_nights INT,
    minimum_minimum_nights INT,
    maximum_minimum_nights INT,
    minimum_maximum_nights INT,
    maximum_maximum_nights INT,
    minimum_nights_avg_ntm DOUBLE PRECISION,
    maximum_nights_avg_ntm DOUBLE PRECISION,
    calendar_updated TEXT,
    has_availability bool_sigla,
    availability_30 INT,
    availability_60 INT,
    availability_90 INT,
    availability_365 INT,
    calendar_last_scraped DATE,
    number_of_reviews INT,
    number_of_reviews_ltm INT,
    number_of_reviews_l30d INT,
    first_review DATE,
    last_review DATE,
    review_scores_rating DOUBLE PRECISION,
    review_scores_accuracy DOUBLE PRECISION,
    review_scores_cleanliness DOUBLE PRECISION,
    review_scores_checkin DOUBLE PRECISION,
    review_scores_communication DOUBLE PRECISION,
    review_scores_location DOUBLE PRECISION,
    review_scores_value DOUBLE PRECISION,
    license TEXT,
    instant_bookable bool_sigla,
    calculated_host_listings_count INT,
    calculated_host_listings_count_entire_homes INT,
    calculated_host_listings_count_private_rooms INT,
    calculated_host_listings_count_shared_rooms INT,
    reviews_per_month DOUBLE PRECISION
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS Reviews CASCADE;
CREATE TABLE Reviews (
    id BIGINT,
    listing_id BIGINT,
    date DATE,
    reviewer_id BIGINT,
    reviewer_name TEXT,
    comments TEXT
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [11]:
%%sql
DROP TABLE IF EXISTS Calendar CASCADE;
CREATE TABLE Calendar (
    listing_id BIGINT,
    date DATE,
    available bool_sigla,
    price TEXT,
    adjusted_price TEXT,
    minimum_nights INT,
    maximum_nights INT,
    PRIMARY KEY (listing_id, date),
    FOREIGN KEY (listing_id) REFERENCES Listings(id)
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [12]:
!psql -c "\copy Listings FROM './listings.csv' WITH (FORMAT CSV, DELIMITER ',', ENCODING 'UTF8', NULL '', QUOTE '\"', HEADER true);" -U postgres -d airbnb_icmc_2

^C

In [ ]:
!psql -c "\copy Reviews FROM './reviews.csv' WITH (FORMAT CSV, DELIMITER ',', ENCODING 'UTF8', NULL '', QUOTE '\"', HEADER true);" -U postgres -d airbnb_icmc_2

'psql' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.

In [ ]:
!psql -c "\copy Calendar FROM './calendar.csv' WITH (FORMAT CSV, DELIMITER ',', ENCODING 'UTF8', NULL '', QUOTE '\"', HEADER true);" -U postgres -d airbnb_icmc_2

'psql' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.

# Normalizando as tabelas do airbnb

In [72]:
%%sql
DROP TABLE IF EXISTS Listings_norm CASCADE;
CREATE TABLE Listings_norm AS (
    SELECT
        id,
        listing_url,
        name,
        description,
        neighborhood_overview,
        picture_url,
        neighbourhood,
        neighbourhood_cleansed,
        neighbourhood_group_cleansed,
        latitude,
        longitude,
        property_type,
        room_type,
        accommodates,
        bathrooms,
        bathrooms_text,
        bedrooms,
        beds,
        price,
        minimum_nights,
        maximum_nights,
        minimum_minimum_nights,
        maximum_minimum_nights,
        minimum_maximum_nights,
        maximum_maximum_nights,
        minimum_nights_avg_ntm,
        maximum_nights_avg_ntm,
        calendar_updated,
        has_availability,
        availability_30,
        availability_60,
        availability_90,
        availability_365,
        calendar_last_scraped,
        number_of_reviews,
        number_of_reviews_ltm,
        number_of_reviews_l30d,
        first_review,
        last_review,
        review_scores_rating,
        review_scores_accuracy,
        review_scores_cleanliness,
        review_scores_checkin,
        review_scores_communication,
        review_scores_location,
        review_scores_value,
        license,
        instant_bookable,
        reviews_per_month
    FROM Listings);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
36008 rows affected.

[]

In [ ]:
%%sql
SELECT *
FROM Listings_norm
LIMIT 10

In [75]:
%%sql
DROP TABLE IF EXISTS Scrape CASCADE;
CREATE TABLE Scrape AS (
    SELECT
        scrape_id,
        source,
        last_scraped,
        calendar_last_scraped
    FROM Listings);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
36008 rows affected.

[]

In [76]:
%%sql
SELECT *
FROM Scrape
LIMIT 10

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
10 rows affected.

[(20231226034138, 'city scrape', datetime.date(2023, 12, 27), datetime.date(2023, 12, 27)),
 (20231226034138, 'city scrape', datetime.date(2023, 12, 27), datetime.date(2023, 12, 27)),
 (20231226034138, 'city scrape', datetime.date(2023, 12, 27), datetime.date(2023, 12, 27)),
 (20231226034138, 'city scrape', datetime.date(2023, 12, 27), datetime.date(2023, 12, 27)),
 (20231226034138, 'city scrape', datetime.date(2023, 12, 27), datetime.date(2023, 12, 27)),
 (20231226034138, 'city scrape', datetime.date(2023, 12, 27), datetime.date(2023, 12, 27)),
 (20231226034138, 'city scrape', datetime.date(2023, 12, 26), datetime.date(2023, 12, 26)),
 (20231226034138, 'city scrape', datetime.date(2023, 12, 26), datetime.date(2023, 12, 26)),
 (20231226034138, 'city scrape', datetime.date(2023, 12, 28), datetime.date(2023, 12, 28)),
 (20231226034138, 'city scrape', datetime.date(2023, 12, 26), datetime.date(2023, 12, 26))]

In [60]:
%%sql
DROP TABLE IF EXISTS Amenities CASCADE;
CREATE TABLE Amenities (
    listing_id BIGINT,
    name_amenity TEXT,
    quantity INT,
    PRIMARY KEY (listing_id, name_amenity),
    FOREIGN KEY (listing_id) REFERENCES Listings_norm(id)
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [61]:
%%sql
DROP TABLE IF EXISTS Host CASCADE;
CREATE TABLE Host (
    host_id BIGINT PRIMARY KEY,
    host_url TEXT UNIQUE NOT NULL,
    host_name TEXT,
    host_since DATE,
    host_location TEXT,
    host_about TEXT,
    host_response_time TEXT,
    host_response_rate TEXT,
    host_acceptance_rate TEXT,
    host_is_superhost bool_sigla,
    host_thumbnail_url TEXT,
    host_picture_url TEXT,
    host_neighbourhood TEXT,
    host_listings_count INT,
    host_total_listings_count INT,
    host_has_profile_pic BOOLEAN,
    host_identity_verified BOOLEAN,
    calculated_host_listings_count INT,
    calculated_host_listings_count_entire_homes INT,
    calculated_host_listings_count_private_rooms INT,
    calculated_host_listings_count_shared_rooms INT
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [62]:
%%sql
DROP TABLE IF EXISTS Host_verifications CASCADE;
CREATE TABLE Host_verifications (
    host_id BIGINT,
    verification_field TEXT,
    PRIMARY KEY (host_id, verification_field)
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [65]:
%%sql
DROP TABLE IF EXISTS Reviewer CASCADE;
CREATE TABLE Reviewer (
    reviewer_id BIGINT PRIMARY KEY,
    reviewer_name TEXT
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [68]:
%%sql
DROP TABLE IF EXISTS Reviews_norm CASCADE;
CREATE TABLE Reviews_norm (
    id BIGINT PRIMARY KEY,
    listing_id BIGINT,
    reviewer_id BIGINT,
    date DATE,
    comments TEXT,
    FOREIGN KEY (reviewer_id) REFERENCES Reviewer(reviewer_id)
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [69]:
%%sql
DROP TABLE IF EXISTS Calendar_norm CASCADE;
CREATE TABLE Calendar_norm (
    listing_id BIGINT,
    date DATE,
    available bool_sigla,
    price TEXT,
    adjusted_price TEXT,
    PRIMARY KEY (listing_id, date),
    FOREIGN KEY (listing_id) REFERENCES Listings(id)
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

In [70]:
%%sql
DROP TABLE IF EXISTS Info_listings CASCADE;
CREATE TABLE Info_listings (
    listing_id BIGINT PRIMARY KEY,
    minimum_nights INT,
    maximum_nights INT,
    FOREIGN KEY (listing_id) REFERENCES Listings(id)
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]