In [16]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [17]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/postgres')
%sql postgresql://postgres:pgadmin@localhost/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
%config SqlMagic.autocommit=False

In [19]:
# %%sql 
# COMMIT;
# DROP DATABASE IF EXISTS airbnb_icmc_2 WITH (FORCE);
# COMMIT;
# CREATE DATABASE airbnb_icmc_2
#     WITH OWNER = postgres
#     ENCODING = 'UTF8';
# COMMIT;

In [20]:
%config SqlMagic.autocommit=True

In [21]:
engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc_2')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc_2

In [26]:
%%sql

DROP TABLE IF EXISTS Usuario, Propriedade, Conta_bancaria, Localizacao, Comodidade, Regra, Pontos_de_interesse, Datas_disponiveis, Avaliar_agreg, Reservar_agreg, Valores_reserva, foto CASCADE;

CREATE TABLE Localizacao (
  cidade         VARCHAR(40),
  estado         VARCHAR(40),
  pais           VARCHAR(40),
  PRIMARY KEY (cidade, estado, pais)
);

CREATE TABLE Usuario (
  id BIGINT,
  nome VARCHAR(500),
  num_tel VARCHAR(20),
  bairro VARCHAR(500),
  cidade VARCHAR(500),
  estado VARCHAR(50),
  pais VARCHAR(50),
  tipo VARCHAR(100),
  rua VARCHAR(100),
  numero INTEGER,
  complemento VARCHAR(100),
  dt_nasc DATE,
  sexo CHAR(1),
  email VARCHAR(100),
  senha VARCHAR(100),
  PRIMARY KEY (id),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais)
);

CREATE TABLE Propriedade (
  ID BIGINT,
  nome VARCHAR(500),
  rua VARCHAR(100),
  numero INTEGER,
  id_dono BIGINT,
  cidade VARCHAR(300),
  estado VARCHAR(50),
  pais VARCHAR(50),
  complemento VARCHAR(100),
  num_quartos INTEGER,
  tipo_quarto VARCHAR(500),
  num_cama INTEGER,
  num_banheiros VARCHAR(300),
  tipo_hospedagem VARCHAR(500),
  preco_noite TEXT,
  num_max_hosp INTEGER,
  num_min_noites INTEGER,
  num_max_noites INTEGER,
  taxa_limpeza DECIMAL(10, 2),
  horario_check_in TIME,
  horario_check_out TIME,
  bairro VARCHAR(500),
  PRIMARY KEY (ID),
  FOREIGN KEY (id_dono) REFERENCES Usuario (id),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais),
  CONSTRAINT unique_nome_rua_numero UNIQUE (nome, rua, numero)
);

CREATE TABLE Conta_Bancaria (
  num_conta VARCHAR(20),
  id_dono BIGINT,
  num_roteamento VARCHAR(20),
  tipo_conta VARCHAR(20),
  PRIMARY KEY (num_conta, id_dono),
  FOREIGN KEY (id_dono) REFERENCES Usuario (id)
);

CREATE TABLE Comodidade (
  nome VARCHAR(100),
  ID_propriedade INTEGER,
  quantidade INTEGER,
  PRIMARY KEY (nome, ID_propriedade),
  FOREIGN KEY (ID_propriedade) REFERENCES Propriedade (ID)
);

CREATE TABLE Regra (
  nome VARCHAR(100),
  ID_propriedade INTEGER,
  descricao TEXT,
  PRIMARY KEY (nome, ID_propriedade),
  FOREIGN KEY (ID_propriedade) REFERENCES Propriedade (ID)
);

CREATE TABLE Pontos_de_interesse (
  nome VARCHAR(100),
  cidade VARCHAR(50),
  estado VARCHAR(50),
  pais VARCHAR(50),
  preco DECIMAL(10, 2),
  horario_funcionamento TEXT,
  PRIMARY KEY (nome, cidade, estado, pais),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais)
);

CREATE TABLE Datas_disponiveis (
  data DATE,
  ID_propriedade INTEGER,
  PRIMARY KEY (data, ID_propriedade),
  FOREIGN KEY (ID_propriedade) REFERENCES Propriedade (ID)
);

CREATE TABLE Avaliar_agreg (
  id_locatario BIGINT,
  ID_prop BIGINT,
  data_mensagem DATE,
  mensagem TEXT,
  nota_limpeza INTEGER,
  nota_comunicacao INTEGER,
  nota_localizacao INTEGER,
  nota_valor INTEGER,
  PRIMARY KEY (id_locatario, ID_prop, data_mensagem),
  FOREIGN KEY (id_locatario) REFERENCES Usuario (id),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID)
);

CREATE TABLE Valores_reserva (
  ID_prop INTEGER,
  data_check_in DATE,
  data_check_out DATE,
  valor DECIMAL(10, 2),
  imposto DECIMAL(10, 2),
  taxa_limpeza DECIMAL(10, 2),
  codigo_promocao VARCHAR(50),
  desconto DECIMAL(10, 2),
  PRIMARY KEY (ID_prop, data_check_in, data_check_out),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID)
);

CREATE TABLE Reservar_agreg (
  id_locatario BIGINT,
  ID_prop INTEGER,
  data_check_in DATE,
  data_check_out DATE,
  num_hospedes INTEGER,
  data_reserva TIMESTAMP,
  confirmacao BOOLEAN,
  PRIMARY KEY (id_locatario, ID_prop, data_check_in, data_check_out),
  FOREIGN KEY (id_locatario) REFERENCES Usuario (id),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID),
  FOREIGN KEY (ID_prop, data_check_in, data_check_out) REFERENCES Valores_reserva (ID_prop, data_check_in, data_check_out)
);

CREATE TABLE Foto (
  ID_foto INTEGER,
  id_locatario BIGINT,
  sobrenome_locatario VARCHAR(50),
  num_tel_locatario VARCHAR(20),
  ID_prop INTEGER,
  horario_mensagem TIMESTAMP,
  foto TEXT,
  PRIMARY KEY (ID_foto, id_locatario, ID_prop, horario_mensagem),
  FOREIGN KEY (id_locatario) REFERENCES Usuario (id),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID)
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

# Carregamento das tabelas normalizadas para as tabelas mapeadas:

### - Propriedade

In [27]:
%%sql

SELECT * FROM Propriedade;

INSERT INTO Propriedade (id, nome, cidade, bairro, num_quartos, tipo_quarto, num_cama, num_banheiros, tipo_hospedagem, preco_noite, num_min_noites, num_max_noites)
SELECT id, name, neighbourhood, neighbourhood_cleansed, bedrooms, room_type, beds, bathrooms_text, property_type, price, minimum_nights, maximum_nights
FROM Listings_norm;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
0 rows affected.
36008 rows affected.

[]

### - Usuario

In [28]:
%%sql

SELECT * FROM Usuario;

INSERT INTO Usuario (id, nome, bairro, cidade, tipo)
SELECT host_id, host_name, host_neighbourhood, host_location, 'proprietário' as tipo
FROM Host
ON CONFLICT (id) DO NOTHING;

INSERT INTO Usuario (id, nome, tipo)
SELECT reviewer_id, reviewer_name, COALESCE(u.tipo, 'locatário') as tipo
FROM Reviewer r
LEFT JOIN Usuario u ON r.reviewer_id = u.id
ON CONFLICT (id) DO UPDATE SET
    tipo = COALESCE(Usuario.tipo || ', locatário', 'locatário');

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
0 rows affected.
21980 rows affected.
563587 rows affected.

[]

### - Avaliar_agreg

In [33]:
%%sql

INSERT INTO Avaliar_agreg (id_locatario, id_prop, data_mensagem, mensagem)
SELECT r.reviewer_id, r.listing_id, r.date, r.comments
FROM Reviews_norm r
INNER JOIN Propriedade p ON r.listing_id = p.ID;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/postgres
2 rows affected.

[]

# Exercício 6:

### Item 1