In [11]:
from ipywidgets import interact 
import ipywidgets as widgets
from sqlalchemy import create_engine

In [12]:
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost/postgres')
%sql postgresql://postgres:pgadmin@localhost/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%config SqlMagic.autocommit=False

In [14]:
# %%sql 
# COMMIT;
# DROP DATABASE IF EXISTS airbnb_icmc_2 WITH (FORCE);
# COMMIT;
# CREATE DATABASE airbnb_icmc_2
#     WITH OWNER = postgres
#     ENCODING = 'UTF8';
# COMMIT;

In [15]:
%config SqlMagic.autocommit=True

In [16]:
engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb_icmc_2')
%sql postgresql://postgres:pgadmin@localhost/airbnb_icmc_2

In [48]:
%%sql
DROP TABLE IF EXISTS Usuario, Propriedade, Conta_bancaria, Localizacao, Comodidade, Regra, Pontos_de_interesse, Datas_disponiveis, Avaliar_agreg, Reservar_agreg, Valores_reserva, foto CASCADE;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/airbnb_icmc_trab_2
   postgresql://postgres:***@localhost/postgres
Done.

[]

In [49]:
%%sql

CREATE TABLE Localizacao (
  cidade         VARCHAR(40),
  estado         VARCHAR(40),
  pais           VARCHAR(40),
  PRIMARY KEY (cidade, estado, pais)
);

CREATE TABLE Usuario (
  nome VARCHAR(50),
  num_tel VARCHAR(20),
  bairro VARCHAR(50),
  cidade VARCHAR(50),
  estado VARCHAR(50),
  pais VARCHAR(50),
  dono BOOLEAN,
  rua VARCHAR(100),
  numero INTEGER,
  complemento VARCHAR(100),
  dt_nasc DATE,
  sexo CHAR(1),
  email VARCHAR(100),
  senha VARCHAR(100),
  PRIMARY KEY (nome),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais)
);

CREATE TABLE Propriedade (
  ID BIGINT,
  nome VARCHAR(500),
  rua VARCHAR(100),
  numero INTEGER,
  nome_dono VARCHAR(50),
  cidade VARCHAR(300),
  estado VARCHAR(50),
  pais VARCHAR(50),
  complemento VARCHAR(100),
  num_quartos INTEGER,
  tipo_quarto VARCHAR(500),
  num_cama INTEGER,
  num_banheiros VARCHAR(300),
  tipo_hospedagem VARCHAR(500),
  preco_noite TEXT,
  num_max_hosp INTEGER,
  num_min_noites INTEGER,
  num_max_noites INTEGER,
  taxa_limpeza DECIMAL(10, 2),
  horario_check_in TIME,
  horario_check_out TIME,
  bairro VARCHAR(500),
  PRIMARY KEY (ID),
  FOREIGN KEY (nome_dono) REFERENCES Usuario (nome),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais),
  CONSTRAINT unique_nome_rua_numero UNIQUE (nome, rua, numero)
);

CREATE TABLE Conta_Bancaria (
  num_conta VARCHAR(20),
  nome_dono VARCHAR(50),
  num_roteamento VARCHAR(20),
  tipo_conta VARCHAR(20),
  PRIMARY KEY (num_conta, nome_dono),
  FOREIGN KEY (nome_dono) REFERENCES Usuario (nome)
);

CREATE TABLE Comodidade (
  nome VARCHAR(100),
  ID_propriedade INTEGER,
  quantidade INTEGER,
  PRIMARY KEY (nome, ID_propriedade),
  FOREIGN KEY (ID_propriedade) REFERENCES Propriedade (ID)
);

CREATE TABLE Regra (
  nome VARCHAR(100),
  ID_propriedade INTEGER,
  descricao TEXT,
  PRIMARY KEY (nome, ID_propriedade),
  FOREIGN KEY (ID_propriedade) REFERENCES Propriedade (ID)
);

CREATE TABLE Pontos_de_interesse (
  nome VARCHAR(100),
  cidade VARCHAR(50),
  estado VARCHAR(50),
  pais VARCHAR(50),
  preco DECIMAL(10, 2),
  horario_funcionamento TEXT,
  PRIMARY KEY (nome, cidade, estado, pais),
  FOREIGN KEY (cidade, estado, pais) REFERENCES Localizacao (cidade, estado, pais)
);

CREATE TABLE Datas_disponiveis (
  data DATE,
  ID_propriedade INTEGER,
  PRIMARY KEY (data, ID_propriedade),
  FOREIGN KEY (ID_propriedade) REFERENCES Propriedade (ID)
);

CREATE TABLE Avaliar_agreg (
  nome_locatario VARCHAR(50),
  ID_prop INTEGER,
  horario_mensagem TIMESTAMP,
  mensagem TEXT,
  nota_limpeza INTEGER,
  nota_comunicacao INTEGER,
  nota_localizacao INTEGER,
  nota_valor INTEGER,
  PRIMARY KEY (nome_locatario, ID_prop, horario_mensagem),
  FOREIGN KEY (nome_locatario) REFERENCES Usuario (nome),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID)
);

CREATE TABLE Valores_reserva (
  ID_prop INTEGER,
  data_check_in DATE,
  data_check_out DATE,
  valor DECIMAL(10, 2),
  imposto DECIMAL(10, 2),
  taxa_limpeza DECIMAL(10, 2),
  codigo_promocao VARCHAR(50),
  desconto DECIMAL(10, 2),
  PRIMARY KEY (ID_prop, data_check_in, data_check_out),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID)
);

CREATE TABLE Reservar_agreg (
  nome_locatario VARCHAR(50),
  ID_prop INTEGER,
  data_check_in DATE,
  data_check_out DATE,
  num_hospedes INTEGER,
  data_reserva TIMESTAMP,
  confirmacao BOOLEAN,
  PRIMARY KEY (nome_locatario, ID_prop, data_check_in, data_check_out),
  FOREIGN KEY (nome_locatario) REFERENCES Usuario (nome),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID),
  FOREIGN KEY (ID_prop, data_check_in, data_check_out) REFERENCES Valores_reserva (ID_prop, data_check_in, data_check_out)
);

CREATE TABLE Foto (
  ID_foto INTEGER,
  nome_locatario VARCHAR(50),
  sobrenome_locatario VARCHAR(50),
  num_tel_locatario VARCHAR(20),
  ID_prop INTEGER,
  horario_mensagem TIMESTAMP,
  foto TEXT,
  PRIMARY KEY (ID_foto, nome_locatario, ID_prop, horario_mensagem),
  FOREIGN KEY (nome_locatario) REFERENCES Usuario (nome),
  FOREIGN KEY (ID_prop) REFERENCES Propriedade (ID)
);

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/airbnb_icmc_trab_2
   postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

# Carregamento das tabelas normalizadas para as tabelas mapeadas:

In [50]:
%%sql

SELECT * FROM Propriedade;

INSERT INTO Propriedade (id, nome, cidade, bairro, num_quartos, tipo_quarto, num_cama, num_banheiros, tipo_hospedagem, preco_noite, num_min_noites, num_max_noites)
SELECT id, name, neighbourhood, neighbourhood_cleansed, bedrooms, room_type, beds, bathrooms_text, property_type, price, minimum_nights, maximum_nights
FROM Listings_norm;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/airbnb_icmc_trab_2
   postgresql://postgres:***@localhost/postgres
0 rows affected.
36008 rows affected.

[]

In [51]:
%sql SELECT * FROM Propriedade LIMIT 15;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/airbnb_icmc_trab_2
   postgresql://postgres:***@localhost/postgres
15 rows affected.

[(17878, 'Condo in Rio de Janeiro · ★4.70 · 2 bedrooms · 2 beds · 1 bath', None, None, None, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 2, '1 bath', 'Entire condo', '$1,357.00', None, 5, 28, None, None, None, 'Copacabana'),
 (25026, 'Rental unit in Rio de Janeiro · ★4.72 · 1 bedroom · 1 bed · 1 bath', None, None, None, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire rental unit', '$865.00', None, 2, 60, None, None, None, 'Copacabana'),
 (35764, 'Loft in Rio de Janeiro · ★4.90 · 1 bedroom · 1 bed · 1.5 baths', None, None, None, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 1, '1.5 baths', 'Entire loft', '$373.00', None, 3, 15, None, None, None, 'Copacabana'),
 (41198, 'Rental unit in Rio de Janeiro · ★4.21 · 2 bedrooms · 1 bath', None, None, None, None, None, None, None, None, 'Entire home/apt', None, '1 bath', 'Entire rental unit', '$1,701.00', None, 3, 365, None, None, None, 'Copacabana'),
 (326205, 'Condo in Rio de Janeiro · ★4.57 · 1 bedroom · 1 bed · 1 bath', None, None, None, None, None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire condo', '$366.00', None, 3, 180, None, None, None, 'Copacabana'),
 (326575, 'Rental unit in Rio de Janeiro · ★4.81 · 2 bedrooms · 3 beds · 2 baths', None, None, None, 'Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 3, '2 baths', 'Entire rental unit', '$368.00', None, 4, 60, None, None, None, 'Copacabana'),
 (216461, 'Rental unit in Rio de Janeiro · 1 bedroom · 1 bed · 1 bath', None, None, None, None, None, None, None, None, 'Private room', 1, '1 bath', 'Private room in rental unit', '$734.00', None, 1, 760, None, None, None, 'Flamengo'),
 (48305, 'Rental unit in Ipanema · ★4.76 · 6 bedrooms · 7 beds · 7 baths', None, None, None, 'Ipanema, Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 7, '7 baths', 'Entire rental unit', '$6,604.00', None, 2, 89, None, None, None, 'Ipanema'),
 (216700, 'Rental unit in Rio de Janeiro · ★4.96 · 1 bedroom · 1 bed · 1 shared bath', None, None, None, 'Rio de Janeiro, Brazil', None, None, None, None, 'Private room', 1, '1 shared bath', 'Private room in rental unit', '$300.00', None, 3, 30, None, None, None, 'Laranjeiras'),
 (219250, 'Loft in Rio de Janeiro · ★4.82 · 1 bedroom · 2 beds · 1 bath', None, None, None, None, None, None, None, None, 'Entire home/apt', 2, '1 bath', 'Entire loft', '$254.00', None, 2, 30, None, None, None, 'Santa Teresa'),
 (48901, 'Rental unit in Rio · ★4.50 · 4 bedrooms · 5 beds · 3 baths', None, None, None, 'Rio, Rio de Janeiro, Brazil', None, None, None, None, 'Entire home/apt', 5, '3 baths', 'Entire rental unit', '$2,566.00', None, 3, 750, None, None, None, 'Copacabana'),
 (220377, 'Rental unit in Rio de Janeiro · ★5.0 · 1 bedroom · 1 bed · 1 private bath', None, None, None, 'Rio de Janeiro, Brazil', None, None, None, None, 'Private room', 1, '1 private bath', 'Private room in rental unit', '$220.00', None, 1, 365, None, None, None, 'Tijuca'),
 (220705, 'Rental unit in Rio de Janeiro · 1 bedroom · 2 beds · 2.5 baths', None, None, None, 'Rio de Janeiro, Brazil', None, None, None, None, 'Private room', 2, '2.5 baths', 'Private room in rental unit', '$300.00', None, 3, 180, None, None, None, 'Copacabana'),
 (327375, 'Rental unit in Rio de Janeiro · ★4.0 · 6 bedrooms · 16 beds · 5 baths', None, None, None, None, None, None, None, None, 'Entire home/apt', 16, '5 baths', 'Entire rental unit', '$5,874.00', None, 3, 30, None, None, None, 'Santa Teresa'),
 (49179, 'Rental unit in Rio de Janeiro · ★4.82 · 1 bedroom · 1 bed · 1 bath', None, None, None, None, None, None, None, None, 'Entire home/apt', 1, '1 bath', 'Entire rental unit', '$409.00', None, 4, 90, None, None, None, 'Copacabana')]

In [53]:
%%sql

SELECT * FROM Usuario;

INSERT INTO Usuario (nome, num)
SELECT host_name
FROM Listings_norm;

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/airbnb_icmc_trab_2
   postgresql://postgres:***@localhost/postgres
0 rows affected.

[]

# Exercício 6:

### Item 1

In [20]:
%%sql 
SELECT * FROM Propriedade;

SELECT

 * postgresql://postgres:***@localhost/airbnb_icmc_2
   postgresql://postgres:***@localhost/airbnb_icmc_trab_2
   postgresql://postgres:***@localhost/postgres
0 rows affected.
1 rows affected.

[()]